{% extends 'data_collection/datacollect_index.html' %} 
{% load static %} 
{% block content %}

<style>
    #register-details_filter
    {
       width: auto;
       margin-top:1em ;
       margin-bottom: 1.5em;
       width: 50%;
    }
   
    #register-details_wrapper button
    {
        font-size: 0.90em;
        border: none;
        padding: 0.30em 1em;
        border-radius: 10px;
    
    }
    .paginate_button
    {
        padding-right: 0.80em;
        color: azure;
        font-size: 0.89em;
        text-decoration: none;
      
    }
    
    #register-details_filter input[type="search"] {
       
        width:100%;
        height: 35px; 
    }
    .input-group
    {
        margin-top: 1em;
    }
    .input-group label
    {
        font-size: 0.85em;
        width: 30%;
    }
    .input-group select, input
    {
        width: 70%;
        background-color: #2c2c2e;
        border: none;
        height: 45px;
        color: rgb(233, 233, 233);
        padding: 0.70em;
        font-size: 0.89em;
    }
    .input-group_btn
    {
        margin-top: 2em;
        text-align: center;
        width: 100%;
    }
    .select-all
    {
        margin-top: 1em;
    }
    .select-all button
    {
        width: 10%;
        text-align: center;
    }
    .select-all label
    {
        width:30%;
        font-size: 0.85em;
        text-align: center;
    }
    .select-all input
    {
        width: 20%;
    }
    .message_box
    {
        text-align: center;
    }
    .messages li{
        list-style: none;
        font-size: 0.90em;
        color: rgb(254, 230, 46);
      
       

    }
    </style>

    <div class="message_box container">
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <form action="{% url 'data_assign_collector' %}" method="post">

    <div class="container mb-5">
        <div class="card">

            {% if messages %}
            <ul class="messages">
               
                <li >{{ message }}</li>
               
            </ul>
            {% endif %}

            <div class="card-body">

                <h4>Assign Leads</h4>
             
                    {% csrf_token %}
                    <div class="input-group">
                        <label>Desiganation</label>
                    <select>
                            <option>-- Select -- </option>
                            {% for i in desig %}
                                <option value="{{i.id}}">{{i.designation}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="input-group">
                        <label>Name</label>
                    <select name="data_colector">
                            <option>-- Select -- </option>
                            {% for i in user_details %}
                                <option value="{{i.id}}">{{i.fullname}}</option>
                            {% endfor %}
                    </select>
                    

                    <div class="input-group_btn">
                        <button type="submit" class="btn btn-outline-success">Save</button>
                    </div>
                      
                        
            
            </div>
        </div>

    </div>

<div class="row mt-5">
    <div class="col-12 grid-margin">
        <div class="card">
           
            <div class="card-body">

                <div class="select-all">
                    <button type="button" class="btn btn-outline-secondary" id="select_all">Check all</button>
                    <button type="button" class="btn btn-outline-primary" id="unselect_all">Uncheck all</button>
                    
                </div>


                <!-- <h4 class="card-title">Assign Leads </h4> -->
                
                <div class="table-responsive mt-5">
                    <table class="table" id="register-details">
                        <thead>
                            <tr class="header" data-href="#">
                                <th></th>
                                <th>Date </th>
                                <th>Full Name </th>
                                <th>Email id</th>
                                <th> Phone No </th>
                                <th> Place </th>
                                <th> Other Details</th>
                                <th>Status</th>
                                <th>Collector Name</th>
                                <th>Desiganation</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for i in ld %}
                            <tr>
                                <td><input type="checkbox"  name="select_check_id" value="{{i.id}}" class="checkbox_delete" ></td>
                                <td> {{ i.r_date }} </td>
                                <td><span class="ps-2">{{ i.r_fullname }}</span></h5></td>
                               
                                <td> {{ i.r_email }} </td>
                                <td> {{ i.r_phno }} </td>
                                <td> {{ i.r_place }} </td>
                                <td> {{ i.r_dese }} </td>
                              
                                <td>
                                    {% if i.r_type_status == '' %}
                                    Not Attempted
                                    {% elif i.r_type_status == '1' %}
                                    Interested
                                    {% endif %}
                                </td>
                                <td>

                                </td>
                                <td></td>
                               
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</form>

<script type="text/javascript" >
    $(document).ready( function () {
      $('#select_all').click( function() {
        $(".checkbox_delete").attr('checked', true);
      });
    })
    $(document).ready( function () {
        $('#unselect_all').click( function() {
          $(".checkbox_delete").attr('checked', false);
        });
      })
      
    </script>

{% endblock %}