{% extends 'data_collection/datacollect_index.html' %} 
{% load static %} 
{% block content %}


<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center"> LEADS SECTION</h5>
                <div class="row">
                    <div class="col-sm-6 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_registerleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h5>REGISTER LEADS</h5>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ldcount}}</h2>
                                                <!-- <p class="text-danger ms-2 mb-0 font-weight-medium">-2.1% </p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal">2.27% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-plus text-danger ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_assignleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h5>ALLOCATE LEADS</h5>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ num }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-check text-primary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_assingnedleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>ASSIGNED LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ ldassign }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-check text-secondary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_pendingleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>PENDING LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ ldpending }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-alert text-warning ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_completed_leads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>COMPLETED LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ ldcomplete }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-check text-success ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">TODAY LEADS</h5>
                <div class="row">
                    <div class="col-sm-6 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_todyregisterleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>REGISTER LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{content.tdldcount}}</h2>
                                                <!-- <p class="text-danger ms-2 mb-0 font-weight-medium">-2.1% </p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal">2.27% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-text text-primary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_todyassignedleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>ASSIGNED LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{content.tdassingedldcount }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-check text-success ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_todypendingleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>PENDING LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{content.tdassingldcount }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-alert text-warning ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}