{% extends 'data_collection/datacollect_index.html' %} 
{% load static %} 
{% block content %}

<style>
    .input_group
    {
        margin-top: 1em;
    }
    .input_group label
    {
        width: 40%;
        font-size: 0.90em;
    }
   .input_group input
    {
        width: 50%;
        background-color: #2c2c2e;
        border: none;
        height: 45px;
        color: rgb(233, 233, 233);
        padding: 0.70em;
        font-size: 0.89em;
    }
    .input_group_save
    {
        text-align: center;
        margin-top: 1em;
    }
</style>


<div class="container ">
    
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Leads Search By Date </h4>
                    <form action="{% url 'datacollector_lead_analiyisearch' %}" method="post">
                        {% csrf_token %}
                        <div class="input_group">
                            <label>From Date  :</label>
                            <input type="date" name="register_stdate">
                        </div>
                        <div class="input_group">
                            <label>To Date :</label>
                            <input type="date" name="register_enddate">
                        </div>
                        <div class="input_group_save">
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </div>
                       
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center"> LEADS SECTION</h5>
                <div class="row">
                    <div class="col-sm-3 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_registerleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>REGISTER LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ldcount}}</h2>
                                                <!-- <p class="text-danger ms-2 mb-0 font-weight-medium">-2.1% </p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal">2.27% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-plus text-danger ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_assingnedleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>ASSIGNED LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ ldassign }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-check text-primary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-sm-3 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_pendingleads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>PENDING LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ ldpending }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-alert text-warning ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 grid-margin">
                        <div class="card">
                            <a href="{% url 'datacollector_completed_leads' %}" style="text-decoration: none; color: white;">
                                <div class="card-body">
                                    <h6>COMPLETED LEADS</h6>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-xl-6 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                                <h2 class="mb-0">{{ tdcomplete }}</h2>
                                                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                                            </div>
                                            <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                                        </div>
                                        <div class="col-6 col-sm-12 col-xl-6 text-center text-xl-right">
                                            <i class="icon-md mdi mdi-clipboard-check text-success ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                   
                   
                    
                    
                </div>
                
            </div>
        </div>
    </div>
    
</div>



{% endblock %}