{% extends 'data_collection/datacollect_index.html' %} 
{% load static %} 
{% block content %}

<div class="container p-2">
    <div class="card m-1 p-2">
        <h4 class="text-center mt-3 p-2">BASIC DATA</h4>

        <p>Name : {{ld.r_fullname}}</p>
        <p>Email : {{ld.r_email}}</p>
        <p>Contact : {{ld.r_phno}}</p>
        <p>Place : {{ld.r_place}}</p>
        <p>Other Details : {{ld.r_dese}}</p>
        
<HR>
        <h4 class="text-center mt-3 p-2">OTHER DATA</h4>
        {% for i in leadex %}
        <span>{{i.lead_ex_head}} : {{i.lead_ex_data}}</span>
        {% endfor %}
    </div>
</div>

{% endblock %}