{% extends 'data_collection/datacollect_index.html' %} 
{% load static %} 
{% block content %}
<style>
    #register-details_filter
    {
       width: auto;
       margin-top:1em ;
       margin-bottom: 1.5em;
       width: 50%;
    }
    #register-details_wrapper .dt-buttons
    {
    
        
    }
    #register-details_wrapper button
    {
        font-size: 0.90em;
        border: none;
        padding: 0.30em 1em;
        border-radius: 10px;
    
    }
    .paginate_button
    {
        padding-right: 0.80em;
        color: azure;
        font-size: 0.89em;
        text-decoration: none;
      
    }
    
    #register-details_filter input[type="search"] {
       
        width:100%;
        height: 35px;
        
    }
    </style>
    
    
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Pending Leads </h4>
                    
                    <div class="table-responsive">
                        <table class="table" id="register-details">
                            <thead>
                                <tr class="header" data-href="#">
                                    <th>Full Name </th>
                                    <th>Date </th>
                                   
                                    <th>Email id</th>
                                    <th> Phone No </th>
                                    <th> Place </th>
                                    <th> Qualification </th>
                                    <th> Other Details</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                   
                                  
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in ld %}
                                <tr>
                                
                                    <td><span class="ps-2">{{ i.r_fullname }}</span></h5></td>
                                    <td> {{ i.r_date }} </td>
                                    <td> {{ i.r_email }} </td>
                                    <td> {{ i.r_phno }} </td>
                                    <td> {{ i.r_place }} </td>
                                    <td> {{ i.r_qulific }} </td>
                                    <td> {{ i.r_dese }} </td>
                                    <td>{{ i.r_type }}</td>
                                    <td>
                                        {% if i.r_type_status == '' %}
                                        Not Attempted
                                        {% elif i.r_type_status == '1' %}
                                        Interested
                                        {% endif %}
                                    </td>
                                   
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}