{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <h4 class="text-center m-4">BLOG CALENDER ADD</h4>
    <form action="#" method="post">
        {% csrf_token %}
        <div class="input-group p-3 m-2">
            <input type="date" class="form-control" placeholder="DATE" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="SL NO" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="url" class="form-control" placeholder="PASTE URL" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="TYPES" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="REMARKS / STATUS" style=" color: #fff;">
        </div>
        <center>
            <div class="p-3 m-3 text-center">
                <button type="submit" class="btn btn-success">SAVE</button>
            </div>

        </center>
        
    </form>
</div>
{% endblock %}