{% extends 'DigitalMarketing/DM_devindex.html' %} 
{% load static %}

{% block content %}

<div class="card">
    <div class="row"> 
        <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                  <h4 class="text-center mb-4">BLOG CALENDER</h4>
                  <h6 class="p-2 mdi mdi-application">&nbsp; count&nbsp; - &nbsp; {{rcount}}</h6>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <form>
                        <div class="input-group input-group-sm mb-3">
                          <input
                            type="text"
                            class="form-control text-white"
                            id="myInput"
                            onkeyup="myFunction()"
                            placeholder="Search . . ."
                            style="border: green"
                          />
                        </div>
                      </form>
                    </div>
          
                    <div class="table-responsive">
                      <table class="table" id="myTable">
                          <thead>
                              <tr>
                                  <th scope="col">Sl no</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Blog Title</th>
                                  <th scope="col">Keywords</th>
                                  <th scope="col">Remarks/Status</th>
                                 
                                </tr>
                            </thead>
                        
                      {% if blog %}
                        
                        <tbody>
                          {% for i in blog %}
                          <tr>
                              <th scope="row">{{forloop.counter}}</th>
                              <td>{{i.blog_date}}</td>
                              <td>{{i.blog_title}} </td>
                              <td>{{i.blog_key}}</td>
                             <td>{{i.blog_status}}</td>
                          </tr>
                            
                        {% endfor %}
                      {% else%}
                          <h5 style="text-align:center">Nothing to display!</h5>
                      {% endif %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  

</script>
 
{% endblock %}