{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3 class="text-center mt-4 mb-4">CLIENT PROJECT</h3>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{% url 'DM_WORK_CREATE' prid %}" style="text-decoration:none ;"><h4 class="">CREATE PROJECT</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{% url 'DM-WORKS' prid %}" style="text-decoration:none ;"><h4 class="">ALL PROJECT</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{% url 'DM_TASK-ASSIGN' prid %}" style="text-decoration:none ;"><h4 class="">ASSIGN PROJECT</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}