{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}

<div class="container" id="data-collect">
    
    <h4 class="text-center m-4">Data Collection</h4>
    <form action="#" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group p-3 m-2">
                    <input type="date" class="form-control" placeholder="DATE" style=" color: #fff;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group p-3  m-2">
                    <input type="text" class="form-control" placeholder="SL NO" style=" color: #fff;">
                </div>

            </div>
            <div class="col-lg-6">
                <div class="input-group p-3  m-2">
                    <input type="text" class="form-control" placeholder="FULL NAME" style=" color: #fff;">
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="input-group p-3  m-2">
                    <input type="email" class="form-control" placeholder="EMAIL ID" style=" color: #fff;">
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="input-group p-3 m-2">
                    <input type="tel" class="form-control" placeholder="PHONE NUMBER" style=" color: #fff;">
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="input-group p-3 m-2">
                    <input type="text" class="form-control" placeholder="LOCATION" style=" color: #fff;">
                </div>
                
            </div>
            <div class="col-lg-12">
                <div class="input-group p-3 m-2">
                    <input type="text" class="form-control" placeholder=" APLIED INTERNSHIP/OJT" style=" color: #fff;">
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="input-group p-3 m-2">
                    <select id="Employee" class="form-control"  style="background-color:#434a54;border:none; color: #fff;">
                        <option selected class="p-2 m-2">FRESHER / EXPERIENCED</option>
                        <option class="p-2 m-2" value="FRESHER">Yes</option>
                        <option class="p-2 m-2" value="EXPERIENCED">No</option>
                        
                    </select>
                   
                </div>
               
            </div>
            <div class="col-lg-6">
                <div class="input-group p-3 m-2">
                    <select id="selectbox" class="form-control" style="background-color:#434a54;border:none; color: #fff;">
                       
                        <option class="p-2 m-2" value="Intrested">Intrested</option>
                        <option class="p-2 m-2" value="Not Intrested">Not Intrested</option>
                        <option class="p-2 m-2" value="Waiting">Waiting</option>
                        <option class="p-2 m-2" value="Buy Tone">Buy Tone</option>
                        <option class="p-2 m-2" value="Not Answering">Not Answering</option>	
                        <option class="p-2 m-2" value="Call back">Call back</option>
                    </select>
                   
                </div>

            </div>
            <div class="col-lg-12 reason" id="reason" >
                <div class="input-group p-3 m-2">
                    <textarea class="form-control" row="5">Reason !</textarea>
                </div>
                
            </div>
        </div>
    
            <div class="p-3 m-3 text-end">
                <button type="submit" class="btn btn-success">SAVE</button>
            </div>
    </form>
</div>




<div class="container">
    <button type="button" class="text-center p-2 btn btn-secondary mb-3" id="data-btn" onclick="myFunction()">Collect Data</button>
    <div class="row">
        <h4 class="text-start mt-3 mb-3">DATA COLLECTION</h4>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Sl no</th>
              <th scope="col">Date</th>
              <th scope="col">Full Name</th>
              <th scope="col">Email Id</th>
              <th scope="col">Phone No</th>
              <th scope="col">Location</th>
              <th scope="col">Applied Internship</th>
              <th scope="col">Experienced/Fresher</th>
              <th scope="col">Remarks/Status</th>
              <th scope="col">Action</th>
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>22-09-2022</td>
              <td>text2 </td>
              <td>text1@gmail.com</td>
              <td>8987676598</td>
              <td>Pala</td>
              <td>Python</td>
              <td>Experienced</td>
              <td>Intrested</td>
              <td><a href="#" class="btn btn-warning">Forword</a></td>
            </tr>
            
            
          </tbody>
    
    </table>
</div>
<style>
    #data-collect
    {
        display: none;
    }

</style>

<script>
    function myFunction() {
        var x = document.getElementById("data-collect");
        if (x.style.display === "none") {
          x.style.display = "block";
          
        } else {
          x.style.display = "none";
          
        }
      }
</script>


<style>
    #data-collect .reason 
     {
       display:none;
     }
     #data-collect .resonshow
     {
      display:block;
     }
   </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" target="_blank" rel="noreferrer noopener"></script>
   <script>
    $('#selectbox').change(function(){
      var responseid=$(this).val();
      console.log(responseid)
      if(responseid == 'Waiting')
      {
        $('#reason').removeClass("reason");
        $('#reason').addClass("resonshow");
      }
      else
      {
        $('#reason').removeClass("resonshow");
        $('#reason').addClass("reason");
      }

    })

   </script>

{% endblock %}