{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}


<div class="container" id="onpage">
    <h4 class="text-center m-4">ON PAGE WORKS</h4>
    <form action="#" method="post">
        {% csrf_token %}
        <div class="input-group p-3 m-2">
            <input type="date" class="form-control" placeholder="DATE" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="SL NO" style=" color: #fff;">
        </div>
        <div class="input-group m-2 p-3">
              <select id="Category" class="form-select p-2">
                <option class="p-2" selected>Altos</option>
                <option class="p-2">Sq Gallery</option>
               
              </select>
        </div>
        <div class="input-group p-3  m-2">
            <input type="url" class="form-control" placeholder="PASTE PAGE URL" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <textarea  class="form-control" row="5" style=" color: #fff;">WORK DETAILS !</textarea>
        </div>
        <div class="input-group p-3 m-2">
            <select id="Employee" class="form-control" style="background-color:#434a54;border:none; color: #fff;">
                <option selected class="p-2 m-2">REMARKS/STATUS</option>
                <option class="p-2 m-2">In edit</option>
                <option class="p-2 m-2">Done</option>
                <option class="p-2 m-2">Uploaded</option>
            </select>
        </div>

            <div class="p-3 m-3 text-end">
                <button type="submit" class="btn btn-success">SAVE</button>
            </div>

    </form>
</div>


<div class="container">
    <button type="button" class="text-center p-2 btn btn-secondary mb-3" id="data-btn" onclick="myFunction()">Collect Data</button>
    <div class="row">
        <h4 class="text-start mt-3 mb-4">ON PAGE WORKS</h4>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Sl no</th>
              <th scope="col">Date</th>
              <th scope="col">Work</th>
              <th scope="col">Url</th>
              <th scope="col">Work Details</th>
              <th scope="col">Remarks/Status</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>22-09-2022</td>
              <td>Altos</td>
              <td>https://altostechnologies.in/ </td>
              <td>meta tag</td> 
              <td>Done</td>
              <td><a href="#" class="btn btn-warning">Forword</a></td>
              
            </tr>
          </tbody>
    
    </table>
</div>
<style>
    #onpage
    {
        display: none;
    }

</style>

<script>
    function myFunction() {
        var x = document.getElementById("onpage");
        if (x.style.display === "none") {
          x.style.display = "block";
          
        } else {
          x.style.display = "none";
          
        }
      }
</script>


{% endblock %}