{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}

<div class="container" id="task-data">
    <div class="row">
        {% for j in tasks %}
        {% if forloop.counter == 1 %}
            <h3 class="text-start mt-3 mb-3">{{j.task_work.work_name}}_Project_Task</h3>
        {% endif %}
        {% endfor %}
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">NO</th>
              <th scope="col">Task Assign Date</th>
              <th scope="col">Full Name</th>
              <th scope="col">Assinged Task</th>
              <th scope="col">Task Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in tasks %}
              
                  <tr>
                    
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{i.task_date}}</td>
                    <td>{{i.employee_name}} </td>
                    <td>
                      {{i.task_category}}
                    </td>
                    <td>{{i.task_status}}</td>
                    <td><a href="#" class="btn btn-warning">Forward</a></td>
                  </tr>
               
            {% endfor %}
          </tbody>
    
    </table>

</div>

{% endblock %}