{% extends 'DigitalMarketing/DM_Index.html' %} 
{% load static %} 
{% block content %}

    <style>
        a{
            text-decoration: none;
        }
    </style>

    <div class="row">
      <div class="col-sm-3 grid-margin">
          <div class="card p-1">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#download_projectdata">
              Project Data Download
          </button>

          </div>
      </div>
    </div>



<div class="row">
    <div class="col-sm-12 grid-margin">
        <div class="card p-3">
            <h4 class="text-center p-2"> Upload Reports</h4>
           <form action="{% url 'DM_report_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label style="font-size:13px;">Select Project:</label>
            <div class="input-group mt-3 mb-3" class="form-control">
                <select class="form-control" name="Project_name">
                    <option class="p-2" selected>----Select----</option>
                    {% for i in proj %}
                    <option class="p-2" value="{{i.dm_project_name}}">{{i.dm_project_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <label style="font-size:13px;">Select Task :</label>
            <div class="input-group mt-3 mb-3" class="form-control">
            <select class="form-control" name="task_name">
                <option class="p-2" selected>----Select----</option>
                <option class="p-2" value="Data Collection">Data Collection</option>
                <option class="p-2" value="Backlink Details">Backlink Details</option>
                <option class="p-2" value="Blog calender">Blog calender</option>
                <option class="p-2" value="SMM Post Calender">SMM Post Calender</option>
                <option class="p-2" value="Webpage Content creation">Webpage Content creation</option>
                <option class="p-2" value="On page works">On page works</option>
                <option class="p-2" value="Competitor analysis/Website Audit">Competitor analysis/Website Audit</option>
                <option class="p-2" value="Data collection - Client">Data collection - Client</option>
            </select>
            </div>
            <label style="font-size:13px;">From</label>
            <input type="date" class="form-control mt-3 p-2 mb-3" name="client_report_from" required>
            <label style="font-size:13px;">To</label>
            <input type="date" class="form-control mt-3 p-2 mb-3" name="client_report_to" required>

            <label style="font-size:13px;">Desecription If Any</label>
            <textarea class="form-control mt-3 p-2 mb-3" name="client_dese" style="height: 150px;"></textarea>

            <div class="input-group mt-5 mb-5" class="form-control">
                <input type="file" accept="report/*" name="task_file">
            </div>
            
            <button type="submit" class="btn btn-outline-success">Upload</button>
                
           </form>
        </div>
    </div>
</div>

<br>
<div class="card">
    <div class="row"> 
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
                <h4 class="text-center mb-4"> Reports</h4>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  
                    <form>
                      <div class="input-group input-group-sm mb-3">
                        <input
                          type="text"
                          class="form-control text-white"
                          id="myInput"
                          onkeyup="myFunction()"
                          placeholder="Search . . ."
                          style="border: green"
                        />
                      </div>
                    </form>
                  </div>
    
                  <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                              <th scope="col">Sl no</th>
                              <th scope="col">Date</th>
                              <th scope="col">Project Name</th>
                              <th scope="col">Task Name</th>
                              <th scope="col">From Date</th>
                              <th scope="col">To Date</th>
                              <th scope="col">Desecription</th>

                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                      
                    {% if report %}
                      
                      <tbody>
                        {% for i in report %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{i.report_date}}</td>
                            <td>{{i.re_project_name}} </td>
                            <td>{{i.re_project_task}}</td>
                            <td>{{i.re_project_fromdate}}</td>
                            <td>{{i.re_project_todate}}</td>
                            <td>{{i.re_project_dese}}</td>
                            <td><a href="{{i.re_project_task_file.url}}" class="btn btn-primary">Download</a></td>

                        </tr>
                          
                      {% endfor %}
                    {% else%}
                        <h5 style="text-align:center">Nothing to display!</h5>
                    {% endif %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
    </div>

</div>


<!-- data download based on date-->

<div class="modal fade" id="download_projectdata" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Download By Date</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="m-3 p-2" action="{% url 'Dm_project_report_download' %}" method="post">
              {% csrf_token %}
              <label>From</label>
              <input type="date" class="form-control m-3 p-2" name="prj_from" required>
              <label>To</label>
              <input type="date" class="form-control m-3 p-2" name="prj_to" required>
              <label>Project</label>
              <select class="form-control m-3 p-2" name="proj_name">
                  <option class="p-2" selected>----Select----</option>
                  {% for i in proj %}
                    <option class="p-2" value="{{i.dm_project_name}}">{{i.dm_project_name}}</option>
                  {% endfor %}
                  
              </select>


              <div class="text-center mt-3">
                  <button type="submit" class="btn btn-outline-success"></i>OK</button>
              </div>
              
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<!-- Sweat aleert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if msg == 1 %}
  <script>
    swal("Good job!"," Successfuly Added.", "success");
  </script>
{% elif  msg == 0 %}
  <script>
    swal("Sorry!","The Employee is Leave Today", "error");
  </script>

{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  

</script>


{% endblock %}