{% extends 'DigitalMarketing/DM_devindex.html' %} 
{% load static %}

{% block content %}


<div class="card">
    <h4 class="text-center m-4">SMM POST CALENDER ADD</h4>
    <form action="{% url 'dev_smm_poster_save' task.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group p-3 m-2">
            <input type="date" class="form-control" name="smm_date" placeholder="DATE" style=" color: #fff;">
        </div>
        
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" name="smm_sub" placeholder="SUBJECT" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" name="smm_pt" placeholder="POSTING TYPE" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <textarea  class="form-control" name="smm_con" style=" color: #fff;height:200px;">INNER CONTENT</textarea>
        </div>
        <div class="input-group p-3  m-2">
            <textarea  class="form-control" name="smm_dese" style=" color: #fff;height:250px;">DESCRIPTION</textarea>
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" name="smm_status" placeholder="REMARKS / STATUS" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="file" class="form-control" name="smm_file"  accept="poster/" style=" color: #fff;">
        </div>
        <center>
            <div class="p-3 m-3 text-center">
                <button type="submit" class="btn btn-success">SAVE</button>
            </div>

        </center>
        
    </form>
</div>

<br>
<div class="row"> 
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
              <h4 class="text-center mb-4">SMM POST CALENDER</h4>
              <h6 class="p-2 mdi mdi-application">&nbsp; count&nbsp; - &nbsp; {{rcount}}</h6>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <form>
                    <div class="input-group input-group-sm mb-3">
                      <input
                        type="text"
                        class="form-control text-white"
                        id="myInput"
                        onkeyup="myFunction()"
                        placeholder="Search . . ."
                        style="border: green"
                      />
                    </div>
                  </form>
                </div>
      
                <div class="table-responsive">
                  <table class="table" id="myTable">
                      <thead>
                          <tr>
                              <th scope="col">Sl no</th>
                              <th scope="col">Date</th>
                              <th scope="col">Subject</th>
                              <th scope="col">Posting Type</th>
                              <th scope="col">Inner Content</th>
                              <th scope="col">Description</th>
                              <th scope="col">Remarks/Status</th>
                              <th scope="col">Poster</th>
                             
                            </tr>
                        </thead>
                    
                  {% if smm %}
                    
                    <tbody>
                      {% for i in smm %}
                      <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>{{i.op_date}}</td>
                          <td>{{i.smm_sub}} </td>
                          <td>{{i.smm_type}}</td>
                          <td>{{i.smm_content}}</td>
                          <td>{{i.smm_dese}}</td>
                          <td>{{i.smm_satus}}</td>
                          {% if i.smm_file %}
                            <td><img src="{{i.smm_file.url}}" style="width:15vh; height:14vh;"></td>
                          {% endif %}
                      </tr>
                        
                    {% endfor %}
                  {% else%}
                      <h5 style="text-align:center">Nothing to display!</h5>
                  {% endif %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

{% endblock %}