{% extends 'DigitalMarketing/DM_devindex.html' %} 
{% load static %}

{% block content %}


<div class="container">
    <h4 class="text-center m-4">SMM POST CALENDER ADD</h4>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group p-3 m-2">
            <input type="date" class="form-control" placeholder="DATE" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="SL NO" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="url" class="form-control" placeholder="SUBJECT" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="POSTING TYPE" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <textarea  class="form-control" row="5" style=" color: #fff;">INNER CONTENT</textarea>
        </div>
        <div class="input-group p-3  m-2">
            <textarea  class="form-control" row="10" style=" color: #fff;">DESCRIPTION</textarea>
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="REMARKS / STATUS" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="file" class="form-control" placeholder="UPLOAD POSTER" accept="course/" style=" color: #fff;">
        </div>
        <center>
            <div class="p-3 m-3 text-center">
                <button type="submit" class="btn btn-success">SAVE</button>
            </div>

        </center>
        
    </form>
</div>
{% endblock %}