{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}


<div class="container p-3" style="background-color:#212529 ;">
  {% if wc == 0 %}
    <h4 class="text-center m-4">IN HOUSE TASK ASSIGN</h4>
  {% else %}
    <h4 class="text-center m-4">CLIENT TASK ASSIGN</h4>
  {% endif %}
    <form action="{% url 'DM-Task-ASSIGNED' %}" method="post">
        {% csrf_token %}

    <div class="empoyee  mt-3 mb-3">
        <label for="Employee" class="form-label mt-3 mb-3">Choose Employee</label>
        <select id="Employee" name="empname" class="form-select" required>
          <option class="p-2">Select Employee</option>
          {% for i in worker %}
            <option class="p-2" value="{{i.fullname}}">{{i.fullname}}</option>
          {% endfor %}
       
        </select>

    </div>
    <div class="work mt-3 mb-3">
      <label for="Category" class="form-label mt-3 mb-3">Works</label>
        <select id="Category" class="form-select p-2" name="twork">
          {% for i in works %}
          <option class="p-2" value="{{i.work_name}}">{{i.work_name}}</option>
          {% endfor %}
        </select>
    </div>
    
    <div class="category mt-3 mb-3">
        <label for="Category" class="form-label mt-3 mb-3">Task Category</label>
        <select id="Category" class="form-select p-2"name="tcateg">
        <option class="p-2" selected>DATA Collection</option>
        <option class="p-2">Backlink Details</option>
        <option class="p-2">Blog calender</option>
        <option class="p-2">SMM Post Calender</option>
        <option class="p-2">Webpage Content creation</option>
        <option class="p-2">On page works</option>
        <option class="p-2">Competitor analysis/Website Audit</option>
        <option class="p-2">Data collection - Client</option>
        </select>

    </div>
    <div class="Dates mt-2 mb-3">
        <label for="dates" class="form-label mt-3 mb-3 ">Choose Date</label><br>
        <input type="date" id="dates" name="tdate" class="w-100 p-2" required>
    </div>
    <div class="text-end mb-5 p-2">
        <button type="submit" class="btn btn-success p-2">Assign Task</button>
    </div>
    
    </form>

    <div class="container" id="task-data">
        <div class="row">
            <h4 class="text-start mt-3 mb-3">TASK ASSIGN DATA</h4>
        </div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                 
                  <th scope="col">Task Assign Date</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Project Name</th>
                  <th scope="col">Assinged Task</th>
                  <th scope="col">Task Status</th>
                </tr>
              </thead>
              <tbody>
                {% for i in tasks %}
                  {% if wc == 0 %}
                    {% if i.task_work.work_head == 'House Project' %}
                      <tr>
                        
                       
                        <td>{{i.task_date}}</td>
                        <td>{{i.employee_name}} </td>
                        <td>{{i.task_work.work_name}}</td>
                        <td>
                          {{i.task_category}}
                        </td>
                        <td>{{i.task_status}}</td>
                      </tr>
                    {% endif %}
                  {% endif %}
                  {% if wc == 1 %}
                    {% if i.task_work.work_head == 'Client Project' %}
                    <tr>
                      
                     
                      <td>{{i.task_date}}</td>
                      <td>{{i.employee_name}} </td>
                      <td>{{i.task_work.work_name}}</td>
                      <td>
                        {{i.task_category}}
                      </td>
                      <td>{{i.task_status}}</td>
                    </tr>
                    {% endif %}
                  {% endif %}

                {% endfor %}
              </tbody>
        
        </table>

    </div>

    <!-- Sweat aleert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if mesg == 1 %}
  <script>
    swal("Good job!","Task Successfuly Assigned.", "success");
  </script>
{% elif  mesg == 0 %}
  <script>
    swal("Good job!","Work Successfuly Removed.", "error");
  </script>

{% endif %}

{% endblock %}