{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <h4 class="text-start mt-3 mb-4">TELECALLERS</h4>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Date</th>
              <th scope="col">Work</th>
              <th scope="col">Task Category</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
           
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>22-09-2022</td>
              <td>Altos</td>
              <td>Data Coolection </td>
              <td>Done</td>
              <td><a href="#" class="btn btn-warning">Forword</a></td>
              
            </tr>
          </tbody>
    
    </table>
</div>
{% endblock %}