{% extends 'DigitalMarketing/DM_devindex.html' %} 
{% load static %}

{% block content %}


<div class="card" id="web-page">
    <h4 class="text-center m-4">WEB PAGE CONTENT CREATION ADD</h4>
    <form action="{% url 'dev_webpagecontent_save' task.id %}" method="post">
        {% csrf_token %}
        <div class="input-group p-3 m-2">
            <input type="date" class="form-control" name="web_date" placeholder="DATE" style=" color: #fff;">
        </div>
        
        
        <div class="input-group p-3  m-2">
            <input type="url" class="form-control" name="web_url" placeholder="PASTE PAGE URL" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <textarea type="text" class="form-control" name="web_dese" style=" color: #fff; height:150px;">Desecription !</textarea>
        </div>
        <div class="input-group p-3  m-2">
            <textarea type="text" class="form-control" name="web_key" style=" color: #fff;  height:150px;">Keywords if any !</textarea>
        </div>
        <center>
            <div class="p-3 m-3 text-center">
                <button type="submit" class="btn btn-success">SAVE</button>
            </div>

        </center>
        
    </form>
</div>
<br>


<div class="row">
    
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
        <h4 class="text-center mb-4">WEB PAGE CONTENT</h4>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <form>
              <div class="input-group input-group-sm mb-3">
                <input
                  type="text"
                  class="form-control text-white"
                  id="myInput"
                  onkeyup="myFunction()"
                  placeholder="Search . . ."
                  style="border: green"
                />
              </div>
            </form>
          </div>

          <div class="table-responsive">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <tr>
                            <th scope="col">Sl no</th>
                            <th scope="col">Date</th>
                            <th scope="col">Url</th>
                            <th scope="col">Discription Of Content</th>
                            <th scope="col">Keywords If Any</th>
                           
                          </tr>
                     
                    </tr>
                  </thead>
              
            {% if webcontent %}
              
              <tbody>
                {% for i in webcontent %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{i.web_date}}</td>
                    <td>{{i.web_url}} </td>
                    <td>{{i.web_dese}}</td>
                    <td>{{i.web_key}}</td>
                   
                    
                </tr>
                  
              {% endfor %}
            {% else%}
                <h5 style="text-align:center">Nothing to display!</h5>
            {% endif %}
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script>
     $(document).ready(function () {
       $("#myInput").on("keyup", function () {
         var value = $(this).val().toLowerCase();
         $("#myTable tr").filter(function () {
           $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
         });
       });
     });
     
   
   </script>

{% endblock %}