{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}


<div class="container" id="web-page">
    <h4 class="text-center m-4">WEB PAGE CONTENT CREATION ADD</h4>
    <form action="#" method="post">
        {% csrf_token %}
        <div class="input-group p-3 m-2">
            <input type="date" class="form-control" placeholder="DATE" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="SL NO" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="url" class="form-control" placeholder="PASTE PAGE URL" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="DESCRIPTION  ON CONTENT" style=" color: #fff;">
        </div>
        <div class="input-group p-3  m-2">
            <input type="text" class="form-control" placeholder="KEYWORDS IF ANY" style=" color: #fff;">
        </div>
        <center>
            <div class="p-3 m-3 text-center">
                <button type="submit" class="btn btn-success">SAVE</button>
            </div>

        </center>
        
    </form>
</div>


<div class="container">
    <button type="button" class="text-center p-2 btn btn-secondary mb-3" id="data-btn" onclick="myFunction()">Collect Data</button>
    <div class="row">
        <h4 class="text-start mt-3 mb-4">DATA COLLECTION CLIENT</h4>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Sl no</th>
              <th scope="col">Date</th>
              <th scope="col">Url</th>
              <th scope="col">Discription Of Content</th>
              <th scope="col">Keywords If Any</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>22-09-2022</td>
              <td>https://altostechnologies.in/</td>
              <td>home page content</td> 
              <td>Web & software development company in Kochi</td>
            </tr>
          </tbody>
    
    </table>
</div>
<style>
    #web-page
    {
        display: none;
    }

</style>

<script>
    function myFunction() {
        var x = document.getElementById("web-page");
        if (x.style.display === "none") {
          x.style.display = "block";
          
        } else {
          x.style.display = "none";
          
        }
      }
</script>

{% endblock %}