{% extends 'DigitalMarketing/DM_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 p-3">
    <div class="row">
      {% if wc == 0 %}
        <h4 class="text-center mb-4">IN HOUSE PROJECT</h4>
      {% else %}
        <h4 class="text-center mb-4">CLIENT PROJECT</h4>
      {% endif %}
    </div>
    <table class="table table-dark table-striped text-center">
        <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Date</th>
              <th scope="col">Work</th>
              <th scope="col">Remarks/Status</th>
              <th scope="col">Report</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in works %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.work_date}}</td>
              <td>{{i.work_name}}</td>
              <td>
                <select class="p-1 w-50">
                    <option value="{{i.work_status}}">{{i.work_status}}</option>
                    <option value="Pending">Pending</option>
                    <option value="Done">Done</option>
                </select>
              </td>
              <td><a href="{% url 'DM-PROJECT-VIEW' i.id %}" class="btn btn-secondary">View</a></td>
              <td><a href="#" class="btn btn-warning">Forward</a></td>
 
            </tr>
            {% endfor %}
          </tbody>
    
    </table>
</div>

{% endblock %}