{% extends 'DigitalMarketing/Telicaller/TEL_Base.html' %}
{% load static %}

{% block content %}
<style>
    .container a{
        text-decoration: none;
        color: #fff;
    }
</style>

<div class="container">
    <div class="row g-3">
    {% for i in works %}
        <div class="col-3">
           
            <div class="card" style="height: 25vh;">
                <div class="card-body">
                    <h6>Date: {{i.task_date}}</h6>
                    <h5>Work Name: {{i.task_work.work_name}}</h5>
                    <h6>Task Category: {{i.task_category}}</h6>
                   
                <div class="card-footer text-end">
                    <a href="{% url 'TEL-Work-Table' %}" class="btn btn-success">Start Work</a>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}