{% extends 'TL-Module/tl_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <form action="{% url 'TLD-Project-Days-Save' Workers.id %}" method="post">
        {% csrf_token %}
        <label class="m-2">Worked Days</label>
           
                <div class="input-group p-3 m-2">
                    <input type="number" class="form-control" name="editwork_days"  style=" color: #fff;" value="{{Workers.tld_pw_workdays}}">
                </div>
                <div class="p-3 m-3 text-center">
                    <button type="submit" class="btn btn-success">SAVE</button>
                </div>      
    </form>
</div>
{% endblock %}