{% extends 'TL-Module/tl_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h4 class="text-center">{{projects.project}} - Project Correction Or Updation </h4>
    <form action="{% url 'TLD-Correction-updation-save' reviews.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group p-3 m-2 mt-4">
            <select  class="form-control" name="dpjt_cu"  style="background-color:#434a54;border:none; color: #fff;">
                <option selected class="p-2 m-2">Select Your option</option>
                <option class="p-2 m-2" value="Correction">Correction</option>
                <option class="p-2 m-2" value="Updation">Updation</option>
                
            </select>
           
        </div>
        <div class="input-group p-3 m-2">
            <select  class="form-control"name="dpjt_cu_module_name"  style="background-color:#434a54;border:none; color: #fff;">
                <option selected class="p-2 m-2">----- Select ----</option>
                {% for i in modules %}
                <option class="p-2 m-2" value="{{i.module}}">{{i.module}}</option>
                {% endfor %}
                
            </select>
        </div>
        <div class="input-group p-3 m-2">
            <textarea class="form-control" name="dpjt_cu_module_dese"  rows="5" style=" color: #fff;">Description !</textarea>
        </div>
        
        <div class="input-group p-3 m-2">
          
            <textarea class="form-control" name="dpjt_cu_pre_cont"  rows="5" style=" color: #fff;">Previous Content</textarea>
        </div>
        Previous Content Image
        <div class="input-group p-3 m-2">
            <input type="file" class="form-control" name="dpjt_cu_pre_img"  accept="ProjectUI/*"  style=" color: #fff;">
        </div>
        <div class="input-group p-3 m-2">
            <textarea class="form-control" name="dpjt_cu_new_cont"  rows="5" style=" color: #fff;">New Content</textarea>
        </div>
        New Content Image:
        <div class="input-group p-3 m-2">
            <input type="file" class="form-control" name="dpjt_cu_new_img"  accept="ProjectUI/*" style=" color: #fff;">
        </div>
       
        End Date:
        <div class="input-group p-3 m-2">
            <input type="Date" class="form-control" name="dpjt_cu_end"  value="01-01-1999" style=" color: #fff;">
        </div>
        <div class="input-group p-3 m-2">
            <input type="text" class="form-control" name="ddpjt_cu_wdays" placeholder="No of Days Worked"  style=" color: #fff;">
        </div>
        <div class="p-3 m-3 text-center">
            <button type="submit" class="btn btn-success">SAVE</button>
        </div>
    </form>
</div>

<!-- Sweat aleert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if msg == 1 %}
  <script>
    swal("Good job!","Data Successfuly Collected.", "success");
  </script>
{% elif  msg == 0 %}
  <script>
    swal("Sorry!","Data Error .", "error");
  </script>
{% endif %}
{% endblock %}