{% extends 'TL-Module/tl_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <form action="{% url 'TLD-Work-Assign' projects.id %}" method="post">
        {% csrf_token %}
       
            <h3 class="text-center mb-4">{{projects.tld_project_name}}</h3>

            <label class="m-2"> Work Assign Date</label>
            <div class="input-group p-3  m-2">
                <input type="date" class="form-control" name="assign_date"  style=" color: #fff;">
            </div>  

            <label class="m-2">Developer Name</label>
           
                <div class="input-group p-3 m-2">
                    <select class="form-control" name="dv_name" style=" color: #fff;">
                        {% for i in developers %}
                          <option value="{{i.fullname}}">{{i.fullname}}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="m-2">Worked Days</label>
           
                <div class="input-group p-3 m-2">
                    <input type="number" class="form-control" name="work_days"  style=" color: #fff;">
                </div>
                <div class="p-3 m-3 text-center">
                    <button type="submit" class="btn btn-success">SAVE</button>
                </div>      
    </form>
</div>

<div class="container">
    <table class="table table-dark table-striped">
        <div class="row">
            <h4 class="text-start mt-3 mb-4">Developers</h4>
        </div>
        <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Assigned Date</th>
              <th scope="col">Full Name</th>
              <th scope="col">Work Days</th>
              <th scope="col">Action</th>
           
            </tr>
          </thead>
          <tbody>
            {% for i in Workers %}
            <tr>
              <th scope="row">{{forloop.counter}}
              </th>
              <td>{{i.tld_pw_date}}</td>
              <td>{{i.tld_pwn_name.fullname}}</td>
              <td>{{i.tld_pw_workdays}} </td>
              <td><a href="{% url 'TLD-Work Days-Change' i.id %}" class="btn btn-outline-warning">Edit</a></td>
              
            </tr>
            {% endfor %}
          </tbody>
    
    </table>
</div>
{% endblock %}