{% extends 'TL-Module/tl_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'TL-DNew-Project' %}" style="text-decoration: none;"><h4 class="text-center">New Project</h4></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'TL-DPrjects' %}" style="text-decoration: none;"><h4 class="text-center">Projects</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sweat aleert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if msg == 1 %}
  <script>
    swal("Good job!","Data Successfuly Collected.", "success");
  </script>
{% elif  msg == 0 %}
  <script>
    swal("Sorry!","Data Error .", "error");
  </script>
{% endif %}

{% endblock %}