{% extends 'hr_module/index_hr.html' %} {% block content %}{% load static %}
<style>
    @media(max-width:61.938em) {
        .row h3 {
            font-size: 19px;
        }
    }
</style>

<div class="row" style="margin-bottom: 50px;">
    <h3 class="text-muted">Leads Add</h3>
</div>


<form class="card col-12" action="{% url 'HR_register_lead' %}"  method="post" enctype='multipart/form-data' >
    {% csrf_token %}
    <div class="form-group">
     
      <div class="card-body col-12">
          <h2>Register Leads</h2>
         <br>
         <label>Full Name</label>
         <input type="text" class="form-control card-title col-12 md-4" name="rname" autocomplete="off">
          
         <label>Email id</label>
         <input type="email" class="form-control card-title col-12 md-4" name="remail" autocomplete="off">

         <label>Phone No</label>
         <input type="tel" class="form-control card-title col-12 md-4" name="rphno" autocomplete="off">

         <label>Place</label>
         <input type="text" class="form-control card-title col-12 md-4" name="rplace" autocomplete="off">
         
         <label>Qualification</label>
         <input type="text" class="form-control card-title col-12 md-4" name="rquli" autocomplete="off">

         <label>Year Of Passout</label>
         <input type="text" class="form-control card-title col-12 md-4" name="ryear" autocomplete="off">

         <label>Fresher or Experienced </label>
        
          <select class="form-control" name="rfr_exp"  style='color:white !important'>
             
              <option value="Fresher">Fresher</option>
              <option value="Experienced">Experienced</option>
            
          </select> <br>

          <label>Lead Source</label>
         <input type="text" class="form-control card-title col-12 md-4" name="l_source" autocomplete="off">
         
          <label>Reference by</label>
        
          <select class="form-control" name="rreffer"  style='color:white !important'>
             
              <option value="{{mem.id}}">{{mem.fullname}}</option>
            
          </select> <br>
           
        <label>Any Other Description</label>
        <textarea type="text" name="rdesc" class="form-control card-title col-12 md-4" style='color:white !important;height: 100px;'></textarea>
        
        
        <!-- <br>
        <label>Start date</label>
        <input type="date" name="sdate" id="sdate" class="form-control card-title col-12 md-4" style='color:white !important'> -->
        
        <div class="vertical-center">
          <button type="submit" style="float: right;" class="btn btn-outline-primary btn-icon-text">
            <i class="mdi mdi-file-check btn-icon-prepend"></i> Register </button>
        </div>
      </div>
      </tr>
    </div>
    </div>
  
  
  </form>

  {% if msg_success %}
    <script>
        alert('{{ msg_success }}')
       
    </script>

  {% endif %}



{% endblock %}