{% extends 'hr_module/index_hr.html' %} {% block content %}{% load static %}
<style>
    @media(max-width:61.938em) {
        .row h3 {
            font-size: 19px;
        }
    }
</style>

<div class="row" style="margin-bottom: 50px;">
    <h3 class="text-muted">Training Leads</h3>
</div>
<div class="row">
    
    <div class="col-sm-3 grid-margin">
        <div class="card text-center  p-3">
            <a href="{% url 'HR_upcoming_leads' %}" style="text-decoration: none; color: #f8f9fa;">
                <div class="card-body">
                    
                    <h4 class="mb-0">Upcoming Leads</h4>
                           
                   
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3 grid-margin">
        <div class="card text-center p-3">
            <a href="{% url 'HR_current_leads' %}" style="text-decoration: none; color: #f8f9fa;">
                <div class="card-body">
                    
                    <h4 class="mb-0">Current Leads</h4>
                           
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3 grid-margin">
        <div class="card text-center  p-3">
            <a href="{% url 'HR_Waiting_leads' %}" style="text-decoration: none; color: #f8f9fa;">
                <div class="card-body">
                   
                        <h4 class="mb-0">Waiting Leads</h4>
                         
                   
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3 grid-margin">
        <div class="card text-center  p-3">
            <a href="{% url 'HR_Joined' %}" style="text-decoration: none; color: #f8f9fa;">
                <div class="card-body">
                   
                        <h4 class="mb-0">Joined</h4>
                         
                   
                </div>
            </a>
        </div>
    </div>
   
</div>

{% endblock %}