{% extends 'hr_module/index_hr.html' %} {% block content %}{% load static %}

<style>
    table tr[data-href] {
        cursor: pointer;
    }
 
        .blink {
          animation: blinker 0.6s linear infinite;
        
          
        }
        @keyframes blinker {
          50% {
            opacity: 0;
          }
        }
</style>
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Wating  Leads </h4>
                <div class="form-group">
                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                </div>
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr class="header" data-href="#">
                                <th>Full Name </th>
                                <th></th>
                                <th>Date </th>
                               
                                <th>Email id</th>
                                <th> Phone No </th>
                                <th> Place </th>
                                <th> Qualification </th>
                                <th> Other Details</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Next call on</th>
                                <th>Action</th>
                              
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in leads %}
                            <tr>
                            
                                <td><span class="ps-2">{{ i.r_fullname }}</span></h5></td>
                                <td> {% if i.r_wating_date == cur_date %}
                                  <span class="text-warning blink">Call Today</span>
                                {% endif %}</td>
                                <td> {{ i.r_date }} </td>
                                <td> {{ i.r_email }} </td>
                                <td> {{ i.r_phno }} </td>
                                <td> {{ i.r_place }} </td>
                                <td> {{ i.r_qulific }} </td>
                                <td> {{ i.r_dese }} </td>
                                <td>{{ i.r_type }}</td>
                                <td>
                                   
                                    {% if i.r_type_status == '2' %}
                                     Wating
                                    
                                    {% endif %}
                                </td>
                                <td>{{i.r_wating_date}}</td>
                                <td>
                                    <a href="{% url 'HR_update_lead_status' i.id %}" class="btn btn-outline-warning">Update</a>
                                    {% if i.r_type_status == '1' %}
                                    <a href="{% url 'HR_update_lead_status' i.id %}" class="btn btn-outline-success">Confirm</a>
                                    {% endif %}
                                </td>
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


{% endblock %}