{%load static%}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>ALTOS CORE</title>
       
    </head>
    <body>
        

      <h5 style="padding-top: -20px;">Report&nbsp;&nbsp; From&nbsp;&nbsp;{{formdate}}&nbsp;&nbsp;To&nbsp;&nbsp; {{todate}} </h5>
      
      <table>

        <thead>
          <tr>
            <th>
              <div style="text-align: left;">
                <img src="media/images/companylogo.png" height="50" width="150"> 
              </div>
            </th>
            <th >
              <h2 style="text-align: center;
                         padding-top:10px;
                         font-size:16px;
                         font-weight:400px;
                         letter-spacing:2px">
                 EMPLOYEE REPORT 
              </h2>
            </th>
            <th>
              <div style="text-align: right;">{{date|date:'d-m-Y'}}</div>
            </th>
          </tr>
        </thead>
      </table>
        
      <hr>
       
        <div class="container">
           
            {% if p1 == '1' %}
                <h1>Trainig Details</h1>
                {% for j in tm %}
                {% if forloop.counter == 1 %}
                <h5>Batch : &nbsp; {{teamname.bt_name}}</h5>
                {% endif %}
                {% endfor %}


                {% if tm %}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col">Trainer Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      
                        {% for j in tm %}
                      <tr>
                        <td> {{j.teamname.name}}</td>
                        <td> {{j.teamname.trainer}}</td>
                        <td>{{j.tr_start_date|date:"d-m-y"}}</td>
                        <td>{{j.tr_end_date|date:"d-m-y"}}</td>
                        <td>
                            {% if j.pstatus == '1' %}
                                Completed
                            {% else %}
                             Not Completed
                            {% endif %}
                        </td>
                        
                      </tr>
                     
                    {% endfor %}
                      
                    </tbody>
                  </table>
                  <hr>
                {% endif %}
                 
                  {% if pr %}
                  <br>
                 
                  <h5>Probation</h5>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col">Trainer Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Stop Date</th>
                        <th scope="col">Renew Date</th>
                        <th scope="col">Extension</th>
                        <th scope="col">Status</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                       
                        {% for j in pr %}
                      <tr>
                        <td> {{j.team.name}}</td>
                        <td> {{j.team.trainer}}</td>
                        <td>{{j.startdate|date:"d-m-y"}}</td>
                        <td>{{j.enddate|date:"d-m-y"}}</td>
                        <td> {{j.stop_reason}}</td>
                        <td>{{j.stopdate|date:"d-m-y"}}</td>
                        <td>{{j.renewdate|date:"d-m-y"}}</td>
                        <td> {{j.extension}}</td>
                        <td> {{j.status}}</td>
                        
                      </tr>
                     
                    {% endfor %}
                      
                    </tbody>
                  </table>
                  <hr>
                  {% endif %}


                  
                  {% if top %}
                  <br>
                 
                  <h5>Topics</h5>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col">Trainer Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Topic</th>
                        
                        <th scope="col">Topic Status</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for j in top %}
                      <tr>
                        <td> {{j.team.name}}</td>
                        <td> {{j.trainer.fullname}}</td>
                        <td>{{j.startdate|date:"d-m-y"}}</td>
                        <td>{{j.enddate|date:"d-m-y"}}</td>
                        <td> {{j.topic}}</td>
                       
                        <td> {% if j.topic_status == '1' %}
                             Completed
                            {% else %}
                            Not Completed
                            {% endif %}
                        </td>
                        
                      </tr>
                     
                    {% endfor %}
                      
                    </tbody>
                  </table>
                  <hr>
                  {% endif %}

                 
                  {% if tsk %}
                  <br>
                 
                  <h5>Task And Project </h5>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col">Trainer Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Submitt Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Delay</th>
                        <th scope="col">Type of Work </th>
                      </tr>
                    </thead>
                    <tbody>
                       
                        {% for j in tsk %}
                      <tr>
                        <td> {{j.team_name.name}}</td>
                        <td> {{j.team_name.trainer}}</td>
                        <td>{{j.startdate|date:"d-m-y"}}</td>
                        <td>{{j.enddate|date:"d-m-y"}}</td>
                        <td>{{j.submitteddate|date:"d-m-y"}}</td>
                        <td> {% if j.task_status == '1' %}
                                Completed
                             {% else %}
                             Not Completed
                             {% endif %}
                        </td>
                        <td> {{j.delay}}</td>
                        <td> 
                            {% if j.task_type == '0' %}
                            Task
                            {% else %}
                            Project
                            {% endif %}

                        </td>
                       
                        
                      </tr>
                     
                    {% endfor %}
                      
                    </tbody>
                  </table>
                  {% endif %}

            {% endif %}

            {% if p2 == '1' %}
                <h1 style="padding-top:10px;">Project Details</h1>
                {% if proj %}
               
                <table class="table">
                  <thead>
                    <tr>
                      <th style="text-align:start" scope="col">Project Name</th>
                      <th style="text-align:start" scope="col">Start Date</th>
                      <th style="text-align:start" scope="col">End Date</th>
                      
                      <th style="text-align:start" scope="col">Progress</th>
                      <th style="text-align:start" scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for j in proj %}
                      
                    <tr>
                      <td> {{j.project}}</td>
                      <td>{{j.startdate}}</td>
                      <td>{{j.enddate}}</td>
                     
                      <td>
                        {% if j.progress %}{{j.progress}} %{% else %}0 %{% endif %}</td>
                      <td>{{j.status}}</td>
                    </tr>
                   
                  {% endfor %}
                    
                  </tbody>
                </table>

                {% endif %}


                {% for dp in devp %}
                {% for p in pros %}
          
                  {% if dp.project_id == p.id %}           

                    <h3 class="mb-0">Project &nbsp;&nbsp;:&nbsp;&nbsp;{{p.project}}</h3>

                    <table class="table">
                        <thead>
                          <tr >
                            <th style="text-align:start" scope="col">Date</th>
                            <th style="text-align:start" scope="col">Task</th>
                            <th style="text-align:start" scope="col">Status / delay</th>
                            
                            <th style="text-align:start" scope="col">Tester Details</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for j in task %}
                            {% if j.project_id == p.id %}
                               
                            
                          <tr style="padding-top: 6px;">
                            <td>{{j.startdate}}</td>
                            <td> {{j.task}}</td>
                            <td>{{j.status}} &nbsp; &nbsp; / &nbsp; &nbsp;  {{j.delay}}</td>
                            <td colspan="1">
                              <table>
                                <thead>
                                  <tr>
                                    <th style="text-align: start;">Name /  Varify Date / Status / Delay </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for tester in tester_data %}
                                  {% if tester.ts_project_task.id == j.id %}
                                  <tr style="padding-top:7px;">
                                    <td>
                                    {{tester.ts_tester.fullname}} / {{tester.ts_task_sub_date}} / {{tester.ts_task_status}} / {{tester.ts_delay}}  </h4>
                                    </td>
                                  </tr>
                                  {% endif %}
                                  {% endfor %}
                                </tbody>
                                
                              </table>
                            </td>
                            <!-- <td>{{j.tsakworkdays}}</td> -->
                          </tr>
                          {% endif %}
                        {% endfor %}
                          
                        </tbody>
                      </table>
                    
                   <hr>
                  
                  {% endif %}
                  
                {% endfor %}
                {% endfor %}
                <br>
            {% endif %}

            {% if p3 == '1' %}
            <br>
            {% if corre %}
            <h1 class="mb-0">Project Corrections</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Work Days</th>
                  </tr>
                </thead>
                <tbody>
                 
                    {% for j in corre %}
                  <tr>
                    <td> {{j.project_cu_id.project}}</td>
                    <td>{{j.project_cu_start|date:"d-m-y"}}</td>
                    <td>{{j.project_cu_end|date:"d-m-y"}}</td>
                    <td>{{j.project_cu_status}}</td>
                    <td>{{j.project_cu_wdays}}</td>
                  </tr>
                 
                {% endfor %}
                  
                </tbody>
              </table>
            {% endif %}
            {% endif %}


            {% if p5 == '1' %}
            {% if sal %}
            <h3>Salary Details</h3>
            <div class="table-responsive">
        
              <table class="table">
                  <tr>
                      <th>Slno</th>
                      <th>Particulars</th>
                      <th>Basic Salary</th>
                      <th>Leave</th>
                      <th>Delay</th>
                      <th>Salary Given</th>
                      <th>Net Salary</th>
 
                  </tr>
                  <tbody>
                      {% for i in sal %}
                      <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{i.user_id.fullname}}</td>
                          <td>{{i.basic_salary}}</td>
                          <td>{{i.leavesno}}</td>
                          <td>{{i.delay}}</td>
                          <td>{{i.fromdate|date:'d-m-Y'}}</td>
                          <td>{{i.net_salary}}</td>
                         
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
            {% endif %}
            {% endif %}
            {% if p6 == '1' %}
            <hr>
            <br>
            <h1>Leave And Attendence Details</h1>
              {% if lev %}
            <table class="table">
                <thead>
                  <tr>
                
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th scope="col">Days</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  
                    {% for j in lev %}
                  <tr>
                   
                    <td>{{j.from_date|date:"d-m-y"}}</td>
                    <td>{{j.to_date|date:"d-m-y"}}</td>
                    <td>{{j.days}}</td>
                    <td>{{j.reason}}</td>
                    <td>{{j.leave_status}}</td>
                  </tr>
                 
                {% endfor %}
              
                
                  
                </tbody>
                
              </table>
              <div>
                <h5>Total Leaves :&nbsp;{{tlev}}</h5>
              </div>
              {% endif %}
              <br><br>

              {% if att %}
              <table class="table">
                  <thead>
                    <tr>
                  
                      <th scope="col">Date</th>
                      <th scope="col">Attendence Status</th>
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                    
                      {% for j in att %}
                    <tr>
                     
                      <td>{{j.date|date:"d-m-y"}}</td>
                     
                      <td><span style="color:rgb(15, 169, 15) ;">Present</span></td>
                    </tr>
                   
                  {% endfor %}
                    
                  </tbody>
                </table>
                {% endif %}


            {% endif %}
            {% if p7 == '1' %}
            {% if act %}
            <h3>Actions Taken</h3>

            <table class="table">
              <thead>
                <tr>
              
                  <th scope="col">Date</th>
                  <th scope="col">From</th>
                  <th scope="col">Designation</th>

                  <th scope="col">Reason</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                
                  {% for j in act %}
                <tr>
                 
                  <td>{{j.at_date|date:"d-m-y"}}</td>
                  <td>{{j.atby.fullname}}</td>
                  <td>{{j.atby.designation.designation}}</td>
                  <td>{{j.at_remark}}</td>
                 
                </tr>
               
              {% endfor %}
                
              </tbody>
            </table>

            {% endif %}
            {% endif %}
        </div>
       
               

 
   
 
    <script>
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
         document.getElementById("currentDate").value = date;
    </script>
        
    </body>
</html>