{%load static%}
<!DOCTYPE >
<html>
    <head>
        <title>ALTOS CORE</title>
        <style>
            hr{
                height: 5px;
                color: aqua;
            }
            table
            {
                background:rgb(241, 245, 245);
                border-radius: 50px;
            }
            thead tr th{
                padding-top: 10px;
                padding-bottom: 3px;
                font-size: 14px;
            }
            tbody tr{
                margin-top: 4px;
            }
           
            img{
                width: 170px;
                height: 60px;
                padding-left: -10px;
                padding-bottom: 10px;
                align-items: start;
                
            }
            .dates
            {
                right: 0px;
                font-size: 12px;
                font-weight: 400;
                text-align: right;
                padding-right: 15px;
                padding-top: 10px;
                color:rgba(6, 24, 44, 0.785)
            }
            h2{
                font-size: 20px;
                font-weight: 500;
                text-align: start;
                padding-top: 20px;
                padding-left: 40px;
                letter-spacing: 5px;
                color:rgb(28, 29, 114);

            }
            h3{
                font-size: 13px;
                font-weight: 600;
                text-align: start;
                padding-top: 20px;
                letter-spacing: 3px;
                color:rgba(17, 17, 39, 0.859);

            }
            h4,h5{
                font-size: 13px;
                font-weight: 400;
                padding-left: 20px;
            }
            p{
                font-size: 13px;
                font-weight: 400;
                padding-left:15px;
                padding-top: 5px;
                padding-bottom: 10px;
            }

        </style>
    </head>
    <body>
      
        {% if trainee %}
        <p style="font-size: 11px; padding-top:-10px;padding-left:0px;padding-bottom:-10px; font-weight:500;text-align:left"> 
            Report From - &nbsp;{{formdate}} &nbsp;&nbsp; To - &nbsp;{{todate}}
        </p>
        {% endif %}
       
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="images_contain">   
                            <img src="media/images/companylogo.png" > 
                        </div>
                    </th>
                    <th><h2 style="margin-top: 10px;">TRAINEE REPORT</h2></th>
                    <th>
                        <div class='dates'>
                            
                            <p>Date : {{date|date:'d-m-Y'}}</p>
                        </div>
                    </th>
                </tr>
               
            </thead> 
        </table>
        
        <hr>
       

        {% if trainee %}
      
        <div>
            <h3> &#10070; TRAINEE DETAILS</h3>

            <div>
                <h4> Full Name : {{trainee.fullname}}</h4>
                <h5> Email Id : {{trainee.email}}</h5>
                <h5> Contact : {{trainee.mobile}}</h5>
                <h5> Joing Date : {{trainee.joiningdate}}</h5> 
                <h5> Batch Name : {{trainee.bt_name}}</h5>
                <h5> Last Team Name : {{trainee.team.name}}</h5>
            </div>
            <HR>
        </div>
        {% endif %}
        {% if ttopic %}
        <div>
            <h3> &#10070; TOPICS DETAILS</h3>
            <table>
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Trainer</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for top in ttopic %}
                    <tr>
                        <td> <p style="font-size: 13px;font-weight: 400; text-align:center;">{{top.topic}}</p></td>
                        <td style="text-align: center;"> 
                            <p style="font-size: 13px; padding:0px; padding-top:15px; text-transform:capitalize">{{top.trainer.fullname}}</p>
                            <p style="font-size: 13px; padding:0px"> Start Date - {{top.startdate}}</p>
                            <p style="font-size: 13px; padding:0px">End Date - {{top.enddate}}</p>
                            <hr>
                        </td>

                    </tr>
                    

                    {% endfor %}

                </tbody>
            </table>
            <HR>
        </div>
        {% endif %}

        {% if ttasks %}
        <div>
            <h3> &#10070; TASK DETAILS</h3>

            <div>
                <table >
                    <thead>
                        <tr>
                            <th>Task </th>
                            <th>Task Details</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in ttasks %}
                      
                        <tr style="padding-bottom: 10px;">
                            <td>
                                <h5 style="font-size: 16px; padding:0px; font-weight: 400; text-align:center">
                                    {{task.taskname}}</h5>
                                    <p style="font-size: 13px; padding:2px; text-align:center"> {{task.description}}</p>
                                
                            </td>
                            <td>
                                <p style="font-size: 14px; padding:2px; padding-top:5px;font-weight: 600;">Team : {{task.team_name.name}}</p>
                                <p style="font-size: 13px; padding:2px">Start Date : {{task.startdate}}</p>
                                <p style="font-size: 13px; padding:2px">End Date : {{task.enddate}}</p>
                                <p style="font-size: 13px; padding:2px">Submitted Date : {{task.submitteddate}} &nbsp;&nbsp;&nbsp; Delay : {{task.delay}}</p>
                                <hr>
                               
                                {% for test in tester_data %}
                                {% if test.traine_task == task.id %}
                                <h5>Tester</h5>
                                <p style="font-size: 13px; padding:2px">Submitted Date : {{test.sub_date}}</p>
                                <p style="font-size: 13px; padding:2px">Test Date : {{test.test_date}}</p>
                                <p style="font-size: 13px; padding:2px">Tester status : {{test.t_status}}</p>
                                <hr>
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <HR>
        </div>
        {% endif %}

        {% if project_task %}
        <div>
            <h3> &#10070; PROJECT DETAILS</h3>
            <table >
                <thead>
                    <tr>
                        <th> Project </th>
                        <th> Details</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for task in project_task %}
                  
                    <tr style="padding-bottom: 10px;">
                        <td>
                            <h5 style="font-size: 15px; padding-left:20px; font-weight: 400; text-align:center">
                                {{task.taskname}}</h5>
                            
                        </td>
                        <td>
                            <p style="font-size: 14px; padding:2px; padding-top:5px;font-weight: 600;">Team : {{task.team_name.name}}</p>
                            <p style="font-size: 13px; padding:2px">Start Date : {{task.startdate}}</p>
                            <p style="font-size: 13px; padding:2px">End Date : {{task.enddate}}</p>
                            <p style="font-size: 13px; padding:2px">Submitted Date : {{task.submitteddate}} &nbsp;&nbsp;&nbsp; Delay : {{task.delay}}</p>
                            <hr>
                           
                            {% for test in tester_data %}
                            {% if test.traine_task == task.id %}
                            <h5>Tester</h5>
                            <p style="font-size: 13px; padding:2px">Submitted Date : {{test.sub_date}}</p>
                            <p style="font-size: 13px; padding:2px">Test Date : {{test.test_date}}</p>
                            <p style="font-size: 13px; padding:2px">Tester status : {{test.t_status}}</p>
                            <hr>
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    
                        
                    {% endfor %}
                </tbody>
            </table>
               
            <HR>
        </div>
        {% endif %}

        
        {% if leave_data %}
        <div>
            <h3> &#10070; LEAVE DETAILS</h3>
            <table>
                <thead>
                    <tr>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Reason</th> 
                        <th>Full / Half day</th> 
                        <th>Days</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for l in leave_data %}
                    <tr>
                        <td>
                             <p style="font-size: 13px;font-weight: 400; text-align:center;">{{l.from_date}}</p>
                        </td>
                        <td> 
                            <p style="font-size: 13px;font-weight: 400; text-align:center;">{{l.to_date}}</p>
                        </td>
                        <td> 
                            <p style="font-size: 13px;font-weight: 400; text-align:center;">{{l.reason}}</p>
                        </td>
                        <td> 
                            <p style="font-size: 13px;font-weight: 400; text-align:center;">{{l.leave_status}}</p>
                        </td>
                        <td> 
                            <p style="font-size: 13px;font-weight: 400; text-align:center;">{{l.days}}</p>
                        </td>

                    </tr>
                    

                    {% endfor %}

                </tbody>
            </table>
            <HR>
        </div>
        {% endif %}
        
       {% if t_prob %}
        <div>
            <h3> &#10070; PROBATION DETAILS</h3>
            <table>
                <thead>
                    <tr>
                        <th>Trainer Details</th>
                        
                        <th>Probation</th> 
                          
                    </tr>
                </thead>
                <tbody>
                    {% for p in t_prob %}
                    <tr>
                        <td>
                             <p style="font-size: 14px;font-weight: 500; text-align:start;">{{p.trainer.fullname}} </p>
                             <p style="font-size: 13px;font-weight: 400; padding-left:10px;  text-align:start;">Start Date : {{p.startdate}} </p>
                             <p style="font-size: 13px;font-weight: 400; padding-left:10px; text-align:start;">End Date :{{p.startdate}} </p>
                             <p style="font-size: 13px;font-weight: 400; padding-left:10px; text-align:start;">Reason :{{p.reason}} </p>
                        </td>
                        <td> 
                            <p style="font-size: 13px;font-weight: 400; text-align:start;">Stop Date :{{p.stopdate}}</p>
                            <p style="font-size: 13px;font-weight: 400; text-align:start;">Stop Reason :{{p.stop_reason}}</p>
                            <p style="font-size: 13px;font-weight: 400; text-align:start;">Renew Date :{{p.renewdate}}</p>
                            <p style="font-size: 13px;font-weight: 400; text-align:start;">Extention :{{p.extension}}</p>
                        </td>
                       

                    </tr>
                    

                    {% endfor %}

                </tbody>
            </table>
            <HR>
        </div>
        {% endif %}
        
        {% if feedback_data %}
        <div>
            <h3> &#10070; FEEDBACK DETAILS</h3>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>To Trainer</th>
                        <th>FeedBack</th>   
                    </tr>
                </thead>
                <tbody>
                    {% for f in feedback_data %}
                    <tr>
                        <td>
                             <p style="font-size: 13px;font-weight: 400; text-align:center;">{{f.fb_date}}</p>
                        </td>
                        <td> 
                            <p style="font-size: 13px;font-weight: 400; text-align:center;">{{f.fb_to.fullname}}</p>
                        </td>
                        <td> 
                            <p style="font-size: 13px;font-weight: 400; text-align:center;">{{f.fb}}</p>
                        </td>

                    </tr>
                    

                    {% endfor %}

                </tbody>
            </table>
            <HR>
        </div>
        {% endif %}
       
    </body>
</html>