{%load static%}
<!DOCTYPE >
<html>
    <head>
        <title>ALTOS CORE</title>
        
    </head>
    <body>
       <!--  -->
      
     

      <h5 style="padding-top: -20px;">Report&nbsp;&nbsp; From&nbsp;&nbsp;{{formdate}}&nbsp;&nbsp;To&nbsp;&nbsp; {{todate}} </h5>
      
      <table>

        <thead>
          <tr>
            <th>
              <div style="text-align: left;">
                <img src="media/images/companylogo.png" height="50" width="150"> 
              </div>
            </th>
            <th >
              <h2 style="text-align: center;
                         padding-top:10px;
                         font-size:16px;
                         font-weight:400px;
                         letter-spacing:2px">
                 EMPLOYEE REPORT 
              </h2>
            </th>
            <th>
              <div style="text-align: right;">{{date|date:'d-m-Y'}}</div>
            </th>
          </tr>
        </thead>
      </table>
        
      <hr>

      <h1 style="padding-top: 20px;">Employee Details</h1>
      <br>

      <table>
        <thead>
          <tr>
            <th style="text-align: left;">
              <h5 style="font-size: 12px; font-weight:500">Name 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                &nbsp;&nbsp;&nbsp;
                {{user.fullname}}</h5>
              <Address style="font-size: 12px; font-weight:500">Address 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;:
                &nbsp;&nbsp;
                {{user.presentaddress1}}(h)
                {{user.presentaddress2}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{user.presentaddress3}}
                {{user.pincode}}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{user.district}},
                {{user.state}},
                {{user.country}}
      
              </Address>
            </th>

            <th style="text-align: left;">
              <h5 style="font-size: 12px; font-weight:500">
                Contact Number  &nbsp;: &nbsp;&nbsp;{{user.mobile}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
              </h5>
              <h5 style="font-size: 12px; font-weight:500">
                
                Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                : &nbsp;&nbsp;{{user.email}}
              </h5>
              <h5 style="font-size: 12px; font-weight:500">
                Designation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                : &nbsp;&nbsp;{{user.designation.designation}}
                
              </h5>
              <h5 style="font-size: 12px; font-weight:500">
                
                Department &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                :&nbsp;&nbsp;&nbsp;{{user.department.department}}
              </h5>
            </th>
          </tr>
        </thead>
      </table>

           <br><br>
    

                <h1>Daily Work Details</h1>
                
                {% if user.designation.designation == 'project manager' %}
                {% for i in proj %}
                <h3 style="font-weight: 500;">Project Name : <span style="font-size: 15px;">{{i.project}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Progress :{{i.progress}}&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;Status :{{i.status}}</h3>

                  <table class="table">
                    <thead>
                      <tr>
                      
                        <th scope="col">TL</th>
                        <th scope="col">Task Name</th>
                      
                        <!-- <th scope="col">Developer</th> -->
                         <th scope="col">Start Date</th> 
                        <!-- <th scope="col">End Date</th> --> 
                        <!-- <th scope="col">Submitted Date</th> -->
                        <th scope="col">Status</th>
                        <th scope="col">delay</th>
                        <!-- <th scope="col">Work Days</th> -->
                      </tr>
                    </thead>
                    <tbody>
                        {% for j in ptask %}
                      
                          
                        
                      <tr>
                       
                        <td>{{j.tl.fullname}}</td>
                        <td>{{j.task}}</td>
                        
                        <!-- <td>{{j.developer.fullname}}</td> -->
                         <td>{{j.startdate|date:"d-m-y"}}</td> 
                        <!-- <td>{{j.enddate|date:"d-m-y"}}</td>  -->
                        <!-- <td>{{j.submitted_date|date:"d-m-y"}}</td> -->
                        <td>{{j.status}}</td>
                        <td>{{j.delay}}</td>
                        <!-- <td>{{j.tsakworkdays}}</td> -->
                      </tr>
                    
                    {% endfor %}
                      
                    </tbody>
                  </table>
                  <hr>
                {% endfor %}
                {% else %}

                    <table class="table">
                        <thead>
                          <tr  >
                            <th style="text-align: start;" >Task</th>
                            <th style="text-align: start;">Start Date&nbsp;&nbsp; -&nbsp;&nbsp; End Date</th>
                            <th style="text-align: start;">Status &nbsp;&nbsp;/ Submitted on &nbsp;&nbsp; / Delay  </th>
                            <th style="text-align: start;" >Tester Varification Details</th>
        
                            <!-- <th scope="col">Work Days</th> -->
                          </tr>
                        </thead>
                        <tbody>
                            {% for j in task %}    
                            
                          <tr style="padding-top: 5px;">
                            <td> {{j.task}}</td>
                            <td>{{j.startdate|date:"d-m-y"}} &nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;{{j.enddate|date:"d-m-y"}}</td>
                           
                            <td>{{j.status}}&nbsp;&nbsp;&nbsp;
                              /&nbsp;&nbsp;&nbsp;{{j.submitted_date|date:"d-m-y"}}&nbsp;&nbsp;&nbsp;
                              /&nbsp;&nbsp;&nbsp;{{j.delay}}
                            </td>
                            <td colspan="1">
                              <table>
                                <thead>
                                  <tr>
                                    <th style="text-align: start;">Name /  Varify Date / Status / Delay </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for tester in tester_data %}
                                  {% if tester.ts_project_task.id == j.id %}
                                  <tr style="padding-top:7px;">
                                    <td>
                                    {{tester.ts_tester.fullname}} / {{tester.ts_task_sub_date}} / {{tester.ts_task_status}} / {{tester.ts_delay}}  </h4>
                                    </td>
                                  </tr>
                                  {% endif %}
                                  {% endfor %}
                                </tbody>
                                
                              </table>
                            </td>

                          </tr>
                         
                        {% endfor %}
                          
                        </tbody>
                      </table>
                  {% endif %}
           
            <br>
            <h1>Leave  Details</h1>
              {% if lev %}
            <table class="table">
                <thead>
                  <tr>
                
                    <th style="text-align: start;" scope="col">From Date</th>
                    <th style="text-align: start;" scope="col">To Date</th>
                    <th style="text-align: start;" scope="col">Days</th>
                    <th style="text-align: start;" scope="col">Reason</th>
                    <th style="text-align: start;" scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  
                    {% for j in lev %}
                  <tr>
                   
                    <td>{{j.from_date|date:"d-m-y"}}</td>
                    <td>{{j.to_date|date:"d-m-y"}}</td>
                    <td>{{j.days}}</td>
                    <td>{{j.reason}}</td>
                    <td>{{j.leave_status}}</td>
                  </tr>
                 
                {% endfor %}
              
                
                  
                </tbody>
                
              </table>
              <div>
                <h5>Total Leaves :&nbsp;{{tlev}}</h5>
              </div>
              {% endif %}
              <br>

              <h1>Company Holidays  Details</h1>
                {% if event1 %}
              <table class="table">
                  <thead>
                    <tr>
                  
                     
                      <th style="text-align: start;" scope="col"> Date</th>
                      <th style="text-align: start;" scope="col">Title</th>
                      <th style="text-align: start;" scope="col">Description</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    
                      {% for j in event1 %}
                    <tr>
                     
                      <td>{{j.start_time|date:"d-m-y"}}</td>
                      
                      <td>{{j.title}}</td>
                      <td>{{j.description}}</td>
                      
                    </tr>
                   
                  {% endfor %}
                
                  
                    
                  </tbody>
                  
                </table>
             
                {% endif %}

             
    <script>
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
         document.getElementById("currentDate").value = date;
    </script>
        
    </body>
</html>