{% extends 'BRadmin_index.html' %}
{% load static %}
{% block content %}

<style>
  @media(max-width:61.938em){
    .row h3{
      font-size: 19px;
    }
  }
</style>


            <div class="row" style="margin-bottom: 50px;">
                <h3 class="text-muted">Leads</h3>
            </div>
               
                <div class="row"> 
        
                    <div class="col-sm-4 grid-margin">
                        <div class="card">

                            <a href="{% url 'BRadmin_currentleads' %}" style="text-decoration: none; color: #f8f9fa;">
                                <div class="card-body">
                                
                                    <div class="row">
                                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            
                                                <h3 class="mb-0">Current Leads</h3>
                                        
                                            </div>
                                            
                                        </div>
                                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                            <i class="icon-lg mdi mdi-clipboard-text text-primary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">

                            <a href="{% url 'BRadmin_watingleads' %}" style="text-decoration: none; color: #f8f9fa;">
                                <div class="card-body">
                                
                                    <div class="row">
                                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            
                                                <h3 class="mb-0">Wating Leads</h3>
                                        
                                            </div>
                                            
                                        </div>
                                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                            <i class="icon-lg mdi mdi-clipboard-text text-primary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">

                            <a href="{% url 'BRadmin_confirmedleads' %}" style="text-decoration: none; color: #f8f9fa;">
                                <div class="card-body">
                                
                                    <div class="row">
                                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            
                                                <h3 class="mb-0">Confirmed Leads</h3>
                                        
                                            </div>
                                            
                                        </div>
                                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                            <i class="icon-lg mdi mdi-clipboard-text text-primary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">

                            <a href="{% url 'BRadmin_internshipleads' %}" style="text-decoration: none; color: #f8f9fa;">
                                <div class="card-body">
                                
                                    <div class="row">
                                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            
                                                <h3 class="mb-0">Internship Leads</h3>
                                        
                                            </div>
                                            
                                        </div>
                                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                            <i class="icon-lg mdi mdi-clipboard-text text-primary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">

                            <a href="{% url 'BRadmin_jobleads' %}" style="text-decoration: none; color: #f8f9fa;">
                                <div class="card-body">
                                
                                    <div class="row">
                                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            
                                                <h3 class="mb-0">Job Leads</h3>
                                        
                                            </div>
                                            
                                        </div>
                                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                            <i class="icon-lg mdi mdi-clipboard-text text-primary ms-auto"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                  
                    

                      


           
            </div>
          
            
     
   


{% endblock %}