{%extends 'devindex.html'%}
{%load static%}
{%block content%}
<div class="row">
{% for i in correction %}
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-2" style="color:white;">Module : {{i.project_cu_module}}</h4>
                <p>Desecription : {{i.project_cu_descrip}}</p>
                <div class="text-end">
                    <a href="{% url 'DEVproject_doc_update' i.id %}" ><button class="btn btn-outline-warning">Add</button></a>
                </div>
                
            </div>
        </div>
    </div>
{% endfor %}
</div>
{%endblock%}