<html>

<head>
    <title>ALTOS CORE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            font-weight: 200;
            font-size: 14px;
            

        }

        .header {
            font-size: 20px;
            font-weight: 100;
            text-align: center;
            color: #007cae;
        }

        .title {
            font-size: 25px;
            font-weight: 100;
            /* text-align: right;*/
            padding: 10px 20px 0px 20px;
        }

        .title span {
            color: #007cae;
        }

        .details {
            padding: 10px 50px 0px 50px;
            text-align: left !important;
            /*margin-left: 40%;*/
        }

        .hrItem {
            border: none;
            height: 1px;
            /* Set the hr color */
            color: #333;
            /* old IE */
            background-color: #fff;
            /* Modern Browsers */
        }

        .details .content {
            text-align: justify;
            font-size: 14px !important;
            line-height: 20px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: black;


        }
    </style>
</head>

<body>
<br>
    <div class='details' style="margin-left: 14cm; top:2cm">

        <p style="color: black; width: 200px;">{{date|date:'d-m-Y'}}</p>

    </div>


    <div class='wrapper'>
        <div class='header'>
            <p class='title' style="color: black"><b>Letter of Appointment</b></p>
        </div>
        <div>

            <div class='details '>
                <div class="content text-justify">

                    {{ mem.fullname }}<br>
                    {{mem.permanentaddress1}}<br>
                    {{mem.permanentaddress2}}<br>
                    {{mem.permanentaddress3}}<br>
                    {{mem.permanentdistrict}}<br>
                    {{mem.permanentstate}}-{{mem.permanentpincode}}<br><br>

                    Dear {{mem.fullname}},<br>
                    <br>
                    Thank you for exploring career opportunities with ALTOS TECHNOLOGIES. You have
                    successfully completed our initial selection process and we are pleased to make you an offer
                    of employment.
                    <br><br>
                    This offer is based on your profile and performance in the selection process. You have been
                    selected for the position of <b>{{mem.designation.designation}}</b> by virtue of the interview and further discussions with
                    us, effective from
                    <br><br>
                    You will be under probation for one month with salary from the date of appointment and on
                    your service during the said probation period being found satisfactory, the company will offer
                    you a starting salary of <b>{{mem.confirm_salary}}</b> per month based on your performance in the said period.
                    <br><br>
                    Your normal working hours' will be 37.5hours'per week, to be worked Monday to Saturday.
                    If company suggests at times, you are requested to work on holidays also.
                    <br><br>
                    Kindly confirm your acceptance of this offer online through the option 'Accept Offer letter".
                    If not accepted within 5 Days, it will be construed that you are not interested in this
                    employment and this offer will be automatically withdrawn.<br><br>

                    <h4>DUTIES AND RESPONSIBILITIES</h4>
                    <ul>
                        <p>As HR Manager your role primarily will be:</p>
                        <li>Developing and implementing HR strategies and initiatives as per the business strategies.</li> 
                        <li>Bridge the relations between management and employee by addressing the demands,
                            grievances, and other issues;</li>
                        <li>Managing the recruitment and the selection processes; Supporting the current and future
                            business;</li> 
                        <li>Developing and monitoring an overall HR systems strategy, tactics and procedures;</li> 
                        <li>Maintaining the pay plan and also the benefits program;</li> 
                        <li>Apply and monitor the training programs; Report to the management and provide decision
                            support through HR metrics;</li> 
                        <li>Ensuring all the legal compliances throughout the entire human resource management.</li> 
                        <li>Consistently recruiting excellent staff.</li> 
                        <li>Maintaining a smooth onboarding process.</li> 
                        <li>Training, counselling, and coaching our staff.</li>
                        <li>Resolving conflicts through positive and professional mediation.</li>
                        <li>Carrying out necessary administrative duties.</li>
                        <li>Conducting performance and wage reviews.</li>
                        <li>Developing clear policies and ensuring policy awareness.</li>
                        <li>Creating clear and concise reports.</li>
                        <li>Giving helpful and engaging presentations.</li>
                        <li>Maintaining and reporting on workplace health and safety compliance.</li>
                        <li>Handling workplace investigations, disciplinary, and termination procedures.</li>
                        <li>Maintaining employee and workplace privacy.</li>
                        <li>Leading a team of junior human resource managers.</li>
                        <li> Partners with the leadership team to understand and execute the organizations human
                            resource and talent strategy particularly as it relates to current and future talent needs,
                            recruiting, retention, and succession planning.</li>
                        <li>Provides support and guidance to HR generalists, management, and other staff when
                            complex, specialized, and sensitive questions and issues arise; may be required to administer
                            and execute routine tasks in delicate circumstances such as providing reasonable
                            accommodations, investigating allegations of wrongdoing, and terminations.</li> 
                        <li>Manages the talent acquisition process, which may include recruitment, interviewing, and
                            hiring of qualified job applicants, particularly for managerial, exempt, and professional roles;
                            collaborates with departmental managers to understand skills and competencies required for
                            openings.</li> 
                        <li>Analyzes trends in compensation and benefits; researches and proposes competitive base
                            and incentive pay programs to ensure the organization attracts and retains top talent.</li>
                        <li>Creates learning and development programs and initiatives that provide internal
                            development opportunities for employees.</li> 
                        <li>Oversees employee disciplinary meetings, terminations, and investigations.</li> 
                        <li>Maintains compliance with federal, state, and local employment laws and regulations, and
                            recommended best practices; reviews policies and practices to maintain compliance.</li> 
                        <li>human resources, talent management, and employment law.</li> 
                        <li>Performs other duties as assigned.
                            Enhances the organization’s human resources by
                            planning, implementing, and evaluating employee
                            relations and human resources policies, programs, and
                            practices.</li> 
                        <li>Maintains the work structure by updating job requirements
                            and job descriptions for all positions.</li> 
                        <li>
                            Supports organization staff by establishing a recruiting,
                        testing, and interviewing program; counselling managers
                        on candidate selection; conducting and analysing exit
                        interviews; and recommending changes.
                        </li>
                        <li>Prepares employees for assignments by establishing and</li> 
                        conducting orientation and training programs.
                        <li>Manages a pay plan by conducting periodic pay surveys;
                            scheduling and conducting job evaluations; preparing pay budgets; monitoring and
                            scheduling individual pay actions; and recommending, planning, and implementing pay
                            structure revisions.</li> 
                        <li>Ensures planning, monitoring, and appraisal of employee work results by training managers</li> 
                        to coach and discipline employees; scheduling management conferences with employees;
                        hearing and resolving employee grievances; and counselling employees and supervisors.
                        <li>Implements employee benefits programs and informs employees of benefits by studying
                            and assessing benefit needs and trends; recommending benefit programs to management;
                            directing the processing of benefit claims; obtaining and evaluating benefit contract bids;
                            awarding benefit contracts; and designing and conducting educational programs on benefit
                            programs.</li> 
                        <li>
                            Ensures legal compliance by monitoring and implementing applicable human resource
                        federal and state requirements, conducting investigations, maintaining records, and
                        representing the organization at hearings.
                        </li> 
                        <li>Enforces management guidelines by preparing, updating, and recommending human
                            resource policies and procedures.</li> 
                        <li>Retains historical human resource records by designing a filing and retrieval system and
                            keeping past and current records.</li> 
                        <li>Cultivates professional and technical knowledge by attending educational workshops,
                            reviewing professional publications, establishing personal networks, and participating in
                            professional societies.</li> 
                        <li>Completes human resource operational requirements by scheduling and assigning
                            employees and following up on work results.</li> 
                        <li>Manages human resource staff by recruiting, selecting, orienting, and training employees.</li> 
                        <li>Advances human resource staff job results by counselling and disciplining employees; and
                            planning, monitoring, and appraising job results.</li>
                        <li>Contributes to team effort by accomplishing related results as needed</li>
                    </ul>
                    <h4>TERMS AND CONDITIONS</h4>
                    <b>1.Confidentiality Agreement</b>
                        <p>&nbsp;&nbsp;&nbsp;As part of your acceptance of this appointment as an employee with ALTOS
                        TECHNOLOHIES you are required to maintain strict confidentiality of the intellectual
                        property rights protected information and other business information of ALTOS
                        TECHNOLOGIES and its clients which may be revealed to you by ALTOS
                        TECHNOLOGIES or which may in the course of your engagement with ALTOS
                        TECHNOLOGIES come your possession or knowledge unless specifically authorized to do
                        so in writing by ALTOS TECHNOLOGIES. This Confidentiality Clause shall survive the
                        termination or earlier determination of this Appointment.</p>

                    <b>2.Notice period</b>  
                    <p>
                        &nbsp;&nbsp;&nbsp;The notice period for resigning from the job is 2 months, on your relieve, you have to
                        complete and submit all the assigned work properly, unless you have to pay the
                        compensation.
                    </p> 
                    <b>3.Compliance to all clauses</b> 
                    <p>
                        &nbsp;&nbsp;&nbsp; The Company has the rights to terminate you from the job immediately at any time for
                        genuine reasons like misbehaviour, malpractices, spy works, lack of performances in work,
                        illegal activities and so on
                    </p> 
                    <b>4.Relocation</b>  
                    <p>
                        &nbsp;&nbsp;&nbsp; If company suggests at times, you are requested to relocate to other job locations also
                    </p>
                    <b>5.Leave</b> 
                    <p> &nbsp;&nbsp;&nbsp;You are entitled for 12 days leave for each 12 months continued service</p> 
                    <b>6.Letter of Appointment</b>  
                    <p>
                        &nbsp;&nbsp;&nbsp;You will be issued a letter of appointment at the time of your joining and after completing
                        joining formalities as per ALTOS TECHNOLOGIES policy.

                    </p>

                    <h4>Withdrawal of Offer</h4>
                    <p>If you fail to accept the offer from ALTOS TECHNOLOGIES within 5 days, it will be
                        construed that you are not interested in this employment and this offer will be automatically
                        withdrawn.</p>

                    We look forward to you having a long and fruitful relationship with ALTOS Technologies.
                    <!-- following terms and conditions:<br><br>
                   
                    1. {{con.condition1}}<br>
                     2. {{con.condition2}}<br>
                      3. {{con.condition3}}<br>
                       4. {{con.condition4}}<br>
                        5. {{con.condition5}}<br>
                         6. {{con.condition6}}<br> -->
                          
                  
                    <br>
                    We look forward to you having a long and fruitful relationship with ALTOS Technologies.<br>
                    <br>
                    
                    <p>For ALTOS Technologies,
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <span>Yours Sincerely</span></p>
                         <br>
                        
                         <div style="padding-top:-12px" >
                            <img style="height:100px; text-align:center; " src="{{ mem.offerqr }}" alt="..." >
                            <p style="text-align:center; ">(To verify)</p>
                        </div>
                  


    <p style="padding-top:-60px">
        <img src="{{mem.signature.url}}" style="height:70px;width: 100px; padding-left:30px;">

       <br>
       
        <br> {{hr.fullname}}<br> HR Manager</p><p style="text-align:right;padding-top:-30px">{{mem.fullname}}</   
     
                </div>
            
            </div>
        </div>









        </span>
    </div>
    </div>
    <script>
        var today = new Date();
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        document.getElementById("currentDate").value = date;
    </script>

</body>

</html>