
<html>

<head>
    <title>ALTOS CORE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            font-weight: 200;
            font-size: 14px;
            

        }

        .header {
            font-size: 20px;
            font-weight: 100;
            text-align: center;
            color: #007cae;
        }

        .title {
            font-size: 25px;
            font-weight: 100;
            /* text-align: right;*/
            padding: 10px 20px 0px 20px;
        }

        .title span {
            color: #007cae;
        }

        .details {
            padding: 10px 50px 0px 50px;
            text-align: left !important;
            /*margin-left: 40%;*/
        }

        .hrItem {
            border: none;
            height: 1px;
            /* Set the hr color */
            color: #333;
            /* old IE */
            background-color: #fff;
            /* Modern Browsers */
        }

        .details .content {
            text-align: justify;
            font-size: 14px !important;
            line-height: 20px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: black;


        }
    </style>
</head>

<body>
<br>
    <div class='details' style="margin-left: 13cm; top:2cm">

        <p style="color: black; width: 300px;">Date : {{date|date:'d-m-Y'}}</p>

    </div>


    <div class='wrapper'>
        <div class='header'>
            <p class='title' style="color: black"><b>Letter of Appointment</b></p>
        </div>
    <div>

            <div class='details '>
                <div class="content text-justify">

                    {{ mem.fullname }}<br>
                    {{mem.permanentaddress1}}<br>
                    {{mem.permanentaddress2}}<br>
                    {{mem.permanentaddress3}}<br>
                    {{mem.permanentdistrict}}<br>
                    {{mem.permanentstate}}-{{mem.permanentpincode}}<br><br>

                    Dear {{mem.fullname}},<br>
                    <br>
                    Thank you for exploring career opportunities with ALTOS TECHNOLOGIES. 
                    You have successfully completed our initial selection process and we are pleased
                    to make you an offer of employment.
                    <br><br>
                    This offer is based on your profile and performance in the selection process. 
                    You have been selected for the position of &nbsp;<b>{{mem.designation.designation|title}}&nbsp;</b>
                    by virtue of the interview and further discussions with us, effective from &nbsp;  {{mem.joiningdate}}.
                    <br><br>
                    You will be under probation for one month with salary from the date of appointment and on your service 
                    during the said probation period being found satisfactory, the company will offer you a starting salary of <b>{{salr}}</b>  
                    per month based on your performance in the said period.
                    <br><br>
                    Your normal working hours' will be 37.5hours'per week, to be worked Monday to Saturday.
                    If company suggests at times, you are requested to work on holidays also.
                    <br><br>
                    Kindly confirm your acceptance of this offer online through the option 'Accept Offer letter". If not accepted within 
                    5 Days, it will be construed that you are not interested in this employment and this offer will be automatically withdrawn.
                    <br><br><br>

                    {% if mem.designation.designation == 'developer' %}
                    <div>
                   <h3>DUTIES AND RESPONSIBILITIES</h3>
                    <ul >
                       <li>Modifying software to fix errors, adapt it to new hardware, improve its performance, or upgrade interfaces.</li>
                       <li>Directing system testing and validation procedures.</li>

                       <li>Directing software programming and documentation development.</li>
                       
                       <li>Consulting with departments or customers on project status and proposals.</li><br>
                       <div>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature</p>
                       </div>
                       <br>

                       <li>Working with customers or departments on technical issues including software system design and maintenance.</li>
                       <li>Analysing information to recommend and plan the installation of new systems or modifications of an existing system.</li>
                       <li>Consulting with engineering staff to evaluate software hardware interfaces and develop specifications and performance requirements.</li>
                       <li>Designing and developing software systems using scientific analysis and mathematical models to predict and measure outcomes and design consequences.</li>
                       <li>Preparing reports on programming project specifications, activities, or status.</li>

                       <li>Conferring with project managers to obtain information on limitations or capabilities.</li>

                       <li>Develop and implement new software programs</li>

                       <li>Maintain and improve the performance of existing software</li>

                       <li>Clearly and regularly communicate with management and technical support colleagues</li>

                       <li>Design and update software database</li>

                       <li>Test and maintain software products to ensure strong functionality and optimization</li>

                       <li>Recommend improvements to existing software programs as necessary</li>

                       <li>Work with developers to design algorithms and flowcharts</li>

                       <li>Produce clean, efficient code based on specifications</li>

                       <li>Integrate software components and third-party programs</li>

                       <li>Verify and deploy programs and systems</li>
                        
                       <li>Troubleshoot, debug and upgrade existing software</li>

                       <li>Gather and evaluate user feedback</li>

                       <li>Recommend and execute improvements</li>

                       <li>Create technical documentation for reference and reporting</li>

                       <li>Talking through requirements with clients</li>

                       <li>Testing software and fixing problems</li>

                       <li>Maintaining systems once they’re up and running</li>

                       <li>Being a part of technical designing</li>

                       <li>Integrate software components</li>

                       <li>Producing efficient codes</li><br>
                       <div>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature</p>
                       </div>
                       <br>

                       <li>Writing program codes for reference and reporting</li>

                       <li>Analyse user requirements</li>

                       <li>Create innovative, scalable, fault-tolerant software solutions for our clients and customer base</li>
                    </ul>
                           
                    </div>
                    <h3>TERMS AND CONDITIONS</h3>

                       <h5>1.	Confidentiality Agreement</h5>

                        As part of your acceptance of this appointment as an employee with ALTOS TECHNOLOHIES you 
                        are required to maintain strict confidentiality of the intellectual property rights protected 
                        information and other business information of ALTOS TECHNOLOGIES and its clients which may be 
                        revealed to you by ALTOS TECHNOLOGIES or which may in the course of your engagement with ALTOS 
                        TECHNOLOGIES come your possession or knowledge unless specifically authorized to do so in writing 
                        by ALTOS TECHNOLOGIES. This Confidentiality Clause shall survive the termination or earlier determination 
                        of this Appointment.
                        
                        <h5>2.	Notice period</h5>

                        The notice period for resigning from the job is 2 months, on your relieve, you have to complete and submit all the assigned work properly, unless you have to pay the compensation.
                        <h5>3.	Compliance to all clauses</h5>

                        The Company has the rights to terminate you from the job immediately at any time for genuine reasons like misbehaviour, malpractices, spy works, lack of performances in work, illegal activities and so on.
                        <h5>4.	Relocation</h5>

                        If company suggests at times, you are requested to relocate to other job locations also.

                        <h5>5.	Leave</h5>

                        You are entitled for 12 days leave for each 12 months continued service.
                        

                        <h5>6.	Letter of Appointment</h5>

                        You will be issued a letter of appointment at the time of your joining and after completing joining formalities as per ALTOS TECHNOLOGIES policy
                        <br>
                        <div>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature</p>
                           </div>
                    
                    {% elif mem.designation.designation == 'team leader' %}
                    <div>
                    <h3>DUTIES AND RESPONSIBILITIES</h3>
                    <ul >

                        <li>Create an inspiring team environment with an open communication culture</li>

                        <li>Set clear team goals</li>

                        <li>Delegate tasks and set deadlines.</li>

                        <li>Monitor team performance and report on metrics</li>
                        <br>
                        <div>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature</p>
                           </div>

                        <li>Motivate team members</li>
                       


                        <li>Discover training needs and provide coaching</li>

                        <li>Listen to team members’ feedback and resolve any issues or conflicts</li>

                        <li>Recognize high performance and reward accomplishments</li>

                        <li>Encourage creativity and risk-taking</li>

                        <li>Suggest and organize team building activities</li>

                        <li>Managing the day-to-day activities of the team.</li>

                        <li>Motivating the team to achieve organizational goals.</li>

                        <li>Developing and implementing a timeline to achieve targets.</li>

                        <li>Conducting training of team members to maximize their potential.</li>

                        <li>Empowering team members with skills to improve their confidence, product knowledge, and communication skills.</li>
                        <li>Conducting quarterly performance reviews.</li>

                        <li>Contributing to the growth of the company through a successful team.</li>

                        <li>Creating a pleasant working environment that inspires the team.</li>
                    </ul>
                    </div>
                    <h3>TERMS AND CONDITIONS</h3>

                       <h5>1.	Confidentiality Agreement</h5>

                        As part of your acceptance of this appointment as an employee with ALTOS TECHNOLOHIES you 
                        are required to maintain strict confidentiality of the intellectual property rights protected 
                        information and other business information of ALTOS TECHNOLOGIES and its clients which may be 
                        revealed to you by ALTOS TECHNOLOGIES or which may in the course of your engagement with ALTOS 
                        TECHNOLOGIES come your possession or knowledge unless specifically authorized to do so in writing 
                        by ALTOS TECHNOLOGIES. This Confidentiality Clause shall survive the termination or earlier determination 
                        of this Appointment.
                        
                        <h5>2.	Notice period</h5>

                        The notice period for resigning from the job is 2 months, on your relieve, you have to complete and submit all the assigned work properly, unless you have to pay the compensation.
                        <h5>3.	Compliance to all clauses</h5>

                        The Company has the rights to terminate you from the job immediately at any time for genuine reasons like misbehaviour, malpractices, spy works, lack of performances in work, illegal activities and so on.
                        <br>
                        <div>
                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Signature</p>
                           </div>
                        <h5>4.	Relocation</h5>

                        If company suggests at times, you are requested to relocate to other job locations also.
                        

                        <h5>5.	Leave</h5>

                        You are entitled for 12 days leave for each 12 months continued service.
                        

                        <h5>6.	Letter of Appointment</h5>

                        You will be issued a letter of appointment at the time of your joining and after completing joining formalities as per ALTOS TECHNOLOGIES policy
                       
                    
                {% endif %}
<br><br>
                    
                   
                   <!-- 1. {{con.condition1}}<br>
                     2. {{con.condition2}}<br>
                      3. {{con.condition3}}<br>
                       4. {{con.condition4}}<br>
                        5. {{con.condition5}}<br>
                         6. {{con.condition6}}<br>
                          
                  
                    
                    <p>For ALTOS Technologies,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       
                         <span>Yours Sincerely</span></p>-->
                         <br><br>
                        <h4> Withdrawal of Offer</h4>

                        If you fail to accept the offer from ALTOS TECHNOLOGIES within 5 days, 
                        it will be construed that you are not interested in this employment and 
                        this offer will be automatically withdrawn.


                    <br><br>
                    We look forward to you having a long and fruitful relationship with ALTOS Technologies.<br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;For ALTOS technologies,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yours Sincerely,<br>
                    <table>
                        <td>
                            <p style="padding-top:-60px">
                                <img src="{{mem.signature.url}}" style="height:70px;width: 100px; padding-left:30px;">
                        
                            <br> <br><br>{{mem.hrmanager}}
                            <br><br>
                            <br> {{mem.hr_designation}}
                        </td>
                        <td><p><br><br><br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mem.fullname}}</p></td>
                    </table>

                    <div align="center" style="padding-top:-95px" >
                        <img style="height:100px; " src="{{ mem.offerqr }}" alt="..." >
                    
                    </div>
  
            
            </div>
        </div>


    <script>
        var today = new Date();
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        document.getElementById("currentDate").value = date;
    </script>

</body>

</html>