{% extends 'promanagerindex.html' %} 
{% load static %} 
{% block content %}

<div class="row g-2">

    <div class="col-12 grid-margin">

        <form class="card col-12" method="post" action="{% url 'Doc_Project_Detail_edit_Save' proj_details.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="m-2 mt-5">Edit Details </h3><br>
           
            <label class="m-2">Project Name</label>
            <input type="text" class="form-control m-2" name="doc_project_name" value="{{proj_details.doc_project_name}}">

            <label class="m-2">Project Start Date :  {{proj_details.doc_project_startdate}}</label>
            <input type="date" class="form-control m-2" name="doc_project_edit_stdate"  >

            <label class="m-2">Project End date :  {{proj_details.doc_project_enddate}}</label>
            <input type="date" class="form-control m-2" name="doc_project_edit_enddate" >

            <label class="m-2">UI Design</label>
            <input type="file" class="form-control m-2"  name="doc_project_edit_ui" accept="ProjectUI/*" >

            <label class="m-2">Front end</label>
            <input type="text" class="form-control m-2" name="doc_project_edit_frend" value="{{proj_details.doc_project_frontend}}">

            <label class="m-2">Backend end</label>
            <input type="text" class="form-control m-2" name="doc_project_edit_baend" value="{{proj_details.doc_project_backend}}">

            <label class="m-2">Libraries</label>
            <textarea type="text" class="form-control m-2" style="height: 100px;" name="doc_project_edit_lib" >{{proj_details.doc_project_libraries}}</textarea>

            <button type="submit" class="btn btn-outline-success m-4 p-2">Save</button>
        </form>

    </div>
    
</div>



{%endblock%}