{% extends 'promanagerindex.html' %} 
{% load static %} 
{% block content %}


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <h4 class="text-center mb-1 mt-3 p-2">Assign Developers to &nbsp; {{project_datils.doc_project_name}}</h4>
            <form action="{% url 'project_Assign_save' project_datils.id %}" method="post">
                {% csrf_token %}
               
                    <h3 class="text-center mb-4">{{projects.tld_project_name}}</h3>
        
                    <label class="m-2">Start Date</label>
                    <div class="input-group p-3  m-2">
                        <input type="date" class="form-control" name="assign_date"  style=" color: #fff;">
                    </div> 

                    <label class="m-2">End Date</label>
                    <div class="input-group p-3  m-2">
                        <input type="date" class="form-control" name="end_date"  style=" color: #fff;">
                    </div>  
        
                    <label class="m-2">Developer Name</label>
                   
                        <div class="input-group p-3 m-2">
                            <select class="form-control" name="dv_name" style=" color: #fff;">
                                {% for i in develp %}
                                  <option value="{{i.fullname}}">{{i.fullname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="m-2">Worked Days</label>
                   
                        <div class="input-group p-3 m-2">
                            <input type="number" class="form-control" name="work_days"  style=" color: #fff;">
                        </div>
                        <div class="p-3 m-3 text-center">
                            <button type="submit" class="btn btn-success">SAVE</button>
                        </div>      
            </form>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">

            <form>
                <div class="input-group input-group-sm mb-3 mt-2 p-2">
                <input
                    type="text"
                    class="form-control text-white"
                    id="myInput"
                    onkeyup="myFunction()"
                    placeholder="Search . . ."
                    style="border: green"
                />
                </div>
            </form>
            
            <div class="table-responsive">
            <table class="table" id="myTable">
                <h4 class="text-center mb-5"> Developers</h4>
                <thead>
                    <tr>
                    <th scope="col">No</th>
                    <th scope="col">Assigned Date</th>
                    <th scope="col">Completed Date</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Work Days</th>
                    <th scope="col">Action</th>
                
                    </tr>
                </thead>
                <tbody>
                    {% for i in Workers %}
                    <tr>
                    <th scope="row">{{forloop.counter}}
                    </th>
                    <td>{{i.pw_startdate}}</td>
                    <td>{{i.pw_enddate}}</td>
                    <td>{{i.pwn_name.fullname}}</td>
                    <td>{{i.pw_workdays}} </td>
                    <td>
                        <a href="{% url 'project_workday' i.id %}" class="btn btn-outline-warning">Edit</a>
                        <a href="{% url 'project_develper_delete' i.id %}" class="btn btn-outline-danger">Delete</a>
                    </td>
                    
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  

</script>
<!-- Sweat aleert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if msg == 1 %}
  <script>
    swal("Good job!","Data Successfuly Collected.", "success");
  </script>
{% elif  msg == 0 %}
  <script>
    swal("Sorry!","Data Error .", "error");
  </script>
{% endif %}


{%endblock%}