{% extends 'promanagerindex.html' %} 
{% load static %} 
{% block content %}

<!-- Module Add Section -->

<div class="row g-2">  
    <h4 class="text-center">Correction Section</h4>
    <div class="col-12 grid-margin">
        <div class="card p-4">
        <form action="{% url 'project_correction_save' project_datils.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Module and Desecription</label>
            
            <div class="input-group p-3 m-2">
                <select  class="form-control"name="dpjt_c_module_name"  style="background-color:#434a54;border:none; color: #fff;">
                    <option selected class="p-2 m-2">----- Select ----</option>
                    {% for i in project_desc %}
                    <option class="p-2 m-2" value="{{i.doc_project_md_name}}">{{i.doc_project_md_name}}</option>
                    {% endfor %}
                    
                </select>
            </div>
            <div class="input-group p-3 m-2">
                <textarea class="form-control" name="dpjt_c_module_dese"  rows="5" style=" color: #fff;">Description !</textarea>
            </div>
            <br>

            <label>Previous Content and Image:</label>
            
            <div class="input-group p-3 m-2">
              
                <textarea class="form-control" name="dpjt_c_pre_cont"  rows="5" style=" color: #fff;">Previous Content</textarea>
            </div>
          
            <div class="input-group p-3 m-2">
                <input type="file" class="form-control" name="dpjt_c_pre_img"  accept="ProjectUI/*"  style=" color: #fff;">
            </div>
            <br>
           <label> New Content and Image:</label>
            <div class="input-group p-3 m-2">
                <textarea class="form-control" name="dpjt_c_new_cont"  rows="5" style=" color: #fff;">New Content</textarea>
            </div>
        
            <div class="input-group p-3 m-2">
                <input type="file" class="form-control" name="dpjt_c_new_img"  accept="ProjectUI/*" style=" color: #fff;">
            </div>
            Start Date:
            <div class="input-group p-3 m-2">
                <input type="Date" class="form-control" name="dpjt_c_start"  value="01-01-1999" style=" color: #fff;">
            </div>
           
            End Date:
            <div class="input-group p-3 m-2">
                <input type="Date" class="form-control" name="dpjt_c_end"  value="01-01-1999" style=" color: #fff;">
            </div>
            <div class="input-group p-3 m-2">
                <input type="number" class="form-control" name="ddpjt_c_wdays" placeholder="No of Days Worked"  style=" color: #fff;">
            </div>
            <div class="p-3 m-3 text-center">
                <button type="submit" class="btn btn-outline-success">SAVE</button>
            </div>
        </form>
        </div>
    </div>
</div>

<!-- Sweat aleert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if msg == 1 %}
  <script>
    swal("Good job!","Data Successfuly Collected.", "success");
  </script>
{% elif  msg == 0 %}
  <script>
    swal("Sorry!","Data Error .", "error");
  </script>
{% endif %}

{%endblock%}

