{% extends 'promanagerindex.html' %} 
{% load static %} 
{% block content %}

<!-- Module Add Section -->

<div class="row g-2">  
     <div class="col-12 grid-margin">
        <form class="card col-12 " method="post" action="{% url 'Doc_Project_Module_save' prjdoc.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="m-2 mt-5">Project Module and Desecription Entry</h3><br>
            <label class="m-2">Module Name</label>
            <input type="text" class="form-control m-2" name="doc_project_mdname" >

            <label class="m-2">Module Desecription</label>
            <textarea type="text" class="form-control m-2" name="doc_project_mddese" style="height: 150px;" ></textarea>

            <button type="submit" class="btn btn-outline-success m-4 p-2">Add Project Module</button>

        </form>  
    </div>  

</div>
<!-- Sweat aleert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if msg == 1 %}
  <script>
    swal("Good job!","Data Successfuly Collected.", "success");
  </script>
{% elif  msg == 0 %}
  <script>
    swal("Sorry!","Data Error .", "error");
  </script>
{% endif %}

{%endblock%}
