{% extends 'promanagerindex.html' %} 
{% load static %} 
{% block content %}

<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <form action="{% url 'project_md_save' project_dese.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <h3 class="text-center mb-4"> Project Module And  Description </h3>
                    <label class="m-2">Project Module </label>
                    <div class="col-lg-12">
                        <div class="input-group p-3 m-2">
                            <input type="text" class="form-control" name="updproject_module" style=" color: #fff;" value="{{project_dese.doc_project_md_name}}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label class="m-2">Project Module Description</label>
                        <div class="input-group p-3  m-2">
                            <textarea type="text" class="form-control" name="updproject_desc" row="10" style=" color: #fff; height:150px;">{{project_dese.doc_project_md_dese}}</textarea>
                        </div>
                    </div>
                    <
                    <div class="p-3 m-3 text-center">
                        <button type="submit" class="btn btn-outline-success">SAVE</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}