{% extends 'promanagerindex.html' %} 
{% load static %} 
{% block content %}
<div class="row g-2">
    <div class="col-12 grid-margin">
       
        {% if status == 0 %}
        
        <form class="card col-12" method="post" action="{% url 'Doc_Project_Detail_Save' projectdoc.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="m-2 mt-5">Project Details Entry</h3><br>
            <label class="m-2">Project Name</label>
            <input type="text" class="form-control m-2" name="doc_project_name" value="{{projectdoc.project}}">

            <label class="m-2">Project Start Date</label>
            <input type="date" class="form-control m-2" name="doc_project_stdate" >

            <label class="m-2">Project End date</label>
            <input type="date" class="form-control m-2" name="doc_project_enddate">

            <label class="m-2">UI Design</label>
            <input type="file" class="form-control m-2"  name="doc_project_ui" accept="ProjectUI/*" >

            <label class="m-2">Front end</label>
            <input type="text" class="form-control m-2" name="doc_project_frend" >

            <label class="m-2">Backend end</label>
            <input type="text" class="form-control m-2" name="doc_project_baend">

            <label class="m-2">Libraries</label>
            <textarea type="text" class="form-control m-2" style="height: 100px;" name="doc_project_lib" ></textarea>

            <button type="submit" class="btn btn-success m-4 p-2">Add Project Details</button>
        </form>
        {% endif %}
    </div>

     <!-- Module Add Section -->

    {% if status == 1 %}
        
    <div class="col-12 grid-margin">
        <form class="card col-12 " method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="m-2 mt-5">Project Module and Desecription Entry</h3><br>
            <label class="m-2">Module Name</label>
            <input type="text" class="form-control m-2" >

            <label class="m-2">Module Desecription</label>
            <textarea type="text" class="form-control m-2" style="height: 150px;" ></textarea>

            <button type="submit" class="btn btn-success m-4 p-2">Add Project Details</button>

        </form>  
    </div>  
    {% endif %}  
 
</div>

<!-- Sweat aleert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if msg == 1 %}
  <script>
    swal("Good job!","Data Successfuly Collected.", "success");
  </script>
{% elif  msg == 0 %}
  <script>
    swal("Sorry!","Data Error .", "error");
  </script>
{% endif %}

{%endblock%}
