{% extends 'promanagerindex.html' %} {% load static %} {% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<html>

<title>Create Project</title>

<form class="card col-12" action=""  method="post" enctype='multipart/form-data' >
  {% csrf_token %}
  <div class="form-group">
   
    <div class="card-body col-12">
        <h2>Assign Project</h2>
        <br>
     
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="1" id="update" name="update">
            <label class="form-check-label" for="update">
             <h5>Updation</h5>
            </label>
          </div>
     <label>Select Department</label>
      
        <select class="form-control" name="prodepart" id="Department"  style='color:white !important'>
            <option>--select--</option>
            {% for n in drt %}
            <option value="{{n.id}}">{{n.department}}</option>
            {% endfor %}
        </select> <br>
        <label>Select Team Leader</label>
      
        <select class="form-control" name="pname" id="Desig"  style='color:white !important'>
        
            <option>--select--</option>
            {% for i in spa %}
            <option value="{{i.id}}">{{i.fullname}}</option>
            {% endfor %}
        </select> <br>
        
        <label>Select Tester</label>
        <select class="form-control" name="tname"  style='color:white !important'>
            <option>--select--</option>
            {% for tes in tes %}
            <option value="{{tes.id}}">{{tes.fullname}}</option>
            {% endfor %}
         </select> <br>
         
     
      <label>Project</label>
      <select class="form-control" name="yyy" id="first-select" style='color:white !important'>
        <option>
          --select--
        </option>
        {% for j in pvar %}
        <option value="{{j.id}}">{{j.project}}</option>
      
        {% endfor %}
      </select>  <br>

      <!--<label>Project Module</label>
      <select class="form-control" name="promd" id="promd" style='color:white !important'>
       
      </select>  <br>-->
      
      <label>Task</label>
      <input type="text" class="form-control card-title col-12 md-4" name="task" autocomplete="off">
      <label>Description</label>
      <textarea type="text" name="desc" class="form-control card-title col-12 md-4" style='color:white !important;height: 100px;'></textarea>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="individual_work" value="1" id="individual_work">
        <label class="form-check-label" for="flexRadioDefault1">
          Individual Work
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="individual_work" value="0" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Group Work
        </label>
      </div>
      <br>
      <label>Start date</label>
      <input type="date" name="sdate" id="sdate" class="form-control card-title col-12 md-4" style='color:white !important'>
      <label>End date</label>
      <input type="date" name="edate" id="edate" class="form-control card-title col-12 md-4" style='color:white !important'>
      <label>File Upload</label>
      <input type="file" name="pfile" class="form-control card-title col-12" style='color:white !important'>
      <div class="vertical-center">
        <button type="submit" style="float: right;" class="btn btn-outline-primary btn-icon-text">
          <i class="mdi mdi-file-check btn-icon-prepend"></i> Assign </button>
      </div>
    </div>
    </tr>
  </div>
  </div>


</form>



 <script type="text/javascript">
        $("#Department").change(function () {
          const url = $("#personForm").attr("data-cities-url");
            const deptId = $(this).val();
            $.ajax({
                url: '{% url 'mandesig_promanager' %}',
                data: {
                    'dept_id': deptId
                },
                success: function (data) {
                    $("#Desig").html(data);
                    console.log(data);
                }
            });
    
        });
 </script>



<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <script type="text/javascript">
      $("#first-select").change(function () {
          const prid= $(this).val();
          console.log(prid);
          $.ajax({
              url: '{% url "pmprojectmodule" %}',
              data: {
                  'prid': prid
              },
  
              success: function (data) {
                  $("#promd").html(data);
                  console.log(data);
              }
          });
  
      });
  
  </script>

{% if msg_success %}
    <script>
        alert('{{ msg_success }}')
        javascript: history.go(-2);
    </script>
    {% endif %}
 <script>




// var today = new Date();
// var dd = today.getDate();
// var mm = today.getMonth() + 1; //January is 0!
// var yyyy = today.getFullYear();

// if (dd < 10) {
//   dd = '0' + dd;
// }

// if (mm < 10) {
//   mm = '0' + mm;
// } 
    
// today = yyyy + '-' + mm + '-' + dd;
// document.getElementById("sdate").setAttribute("min", today);
// document.getElementById("edate").setAttribute("min", today);
// </script>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function () {
$('#first-select').change(function() {

  // send ajax request when the first select is changed:
  console.log($(this).val())
  $.ajax({
    url : "{% url 'get_instances' %}",
    type : 'POST',
    data : {
      instanceID : $(this).val()
    },
    success : function(response) {
      console.log(response)
    
      // this function executes on receiving a successful response from the backend:
      var secondSelect = $('#second-select');
      secondSelect.empty();
      
     
      // iterate over the instances in the response and add them to the second select
      for (var instance in response.is_taken) {
        console.log(is_taken.module)
        secondSelect.append($('<option>', {value : is_taken.module,text : is_taken.module})
          );
      }

    }
  }  
)
});
})

</script>




</html>