{%extends 'promanagerindex.html'%}
{%load static%}
{%block content%}

<style>
    .card
    {
        background-color:#f5f5f5;
        color: black;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 2vh ;
       

    }
    .card p{
        font-weight: 400;
        font-size: 1rem;
    }
    .card_size
    {
        width: 100%;
        border: none;
    }
    .col_size{
        font-size: 14px;
    }
    .card_boder
    {
        border: none;
    }
    .card_headsize
    {
        font-size: 15px;
    }
   
    
    .answer1 { display:none; }
    .answer2 { display:none; }
    .answer3 { display:none; }
    .answer4 { display:none; }
    .answer5 { display:none; }
    .answer6 { display:none; }
    .answer7 { display:none; }
    .answer8 { display:none; }
    
</style>


<div class="container-fluid">
    <div class="card">
        
        <div class="card-head">
            <h2 class="text-primary p-3 text-center mt-2">{{pdoc.doc_project_name}}</h2>
            <p class="p-3"><b>About Project</b><br><br>&nbsp;&nbsp;{{pdoc.doc_project_id.description}}</p>
        </div>
        <hr>
        <div class="card-body">
            <div class="row g-4" class="text-end">
                <div class="col-lg-6 col-sm-12 col_size">  
                    <span>&#9830;&nbsp;&nbsp;Project Start date:&nbsp;&nbsp;{{pdoc.doc_project_startdate}}</span><br><br>
                    <span>&#9830;&nbsp;&nbsp;Project End Date:&nbsp;&nbsp;{{pdoc.doc_project_enddate}}</span><br><br>
                    <span>&#9830;&nbsp;&nbsp;Project Doc Start Date:&nbsp;&nbsp;{{pdoc.doc_project_currentdate}}</span><br><br>
                    <span>&#9830;&nbsp;&nbsp;Project Work Days:&nbsp;&nbsp;{{work_days}}</span>
                </div>
                <div class="col-lg-4 col-sm-12  col_size">  
                    <span>&#9830;&nbsp;&nbsp;Project Frontend:&nbsp;&nbsp;{{pdoc.doc_project_frontend}}</span><br><br>
                    <span>&#9830;&nbsp;&nbsp;Project BackEnd:&nbsp;&nbsp;{{pdoc.doc_project_backend}}</span>
                </div>
                <div class="col-lg-2 col-sm-12  col_size">  
                    {% if pdoc.doc_project_id.files %}
                    <a href="{{pdoc.doc_project_id.files.url}}" class="btn btn-primary" download="{{pdoc.doc_project_id.files.url}}">Download UI</a>
                    {% endif %}
                </div>

            </div>
            <br>
            <div class="card p-2">
                <h3 class="text-center text-primary mt-2">Client Requirements</h3>
                <div class="card-body">
                    {% for i in proj %}
                    <h4 class="p-2">{{i.module}}</h4>
                    <p class="pl-3">&#9830;&nbsp;{{i.description}}</p>
                   {% endfor %}
                   
                </div>
                <h5 class="text-center text-primary mt-2">Tables</h5>
                <table class="table table-responsive">
                    <thead class="table-dark">
                        
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Table</th>
                        <th scope="col">Desecription</th>
                       
                      </tr>
                     
                    </thead>
                    <tbody>
                        {% for i in pro_table %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.}}</td>
                        <td>{{i.description}}</td>
                       
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <br>

                  <h5 class="text-center text-primary mt-2">Other Details</h5>
                <table class="table table-responsive">
                    <thead class="table-dark">
                        
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Table</th>
                        <th scope="col">Desecription</th>
                       
                      </tr>
                     
                    </thead>
                    <tbody>
                        {% for i in poj_other %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.other_name}}</td>
                        <td>{{i.other_description}}</td>
                       
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <br>
            <div class="card p-2">
                <h3 class="text-center text-primary mt-2">Developers and Team leaders Worked in &nbsp;&nbsp;{{pdoc.doc_project_name}}</h3>
                <div class="card-body">
                    {% for i in devp %}
                    {% for j in doc_user %}
                    {% if j.id == i.developer %}
                        <p>	&#9830;&nbsp;&nbsp;{{j.fullname}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <hr>
         

           <div class="row">
            <h3 class="text-center text-primary mb-4">Project Details </h3>
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="check1" name="check1" value="1" onchange="valueChanged()"/>
                            <label class="form-check-label text-primary" for="check1">Project Doc Details</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check2" name="check2" value="1" onchange="valueChanged()">
                            <label class="form-check-label text-primary" for="check2">Project Models</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="check3" name="check3" value="1" onchange="valueChanged()" >
                            <label class="form-check-label text-primary" for="check3">Project Views</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="check4" name="check4" value="1" onchange="valueChanged()">
                            <label class="form-check-label text-primary" for="check4">Project Html Pages</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="check5" name="check5" value="1" onchange="valueChanged()">
                            <label class="form-check-label text-primary" for="check5">Project libraryies</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="check6" name="check6" value="1" onchange="valueChanged()">
                            <label class="form-check-label text-primary" for="check6">Project Other Details</label>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="row answer1">
                    <h5 class="text-center">Project Doc Details</h5>
                  
                    {% for i in pdocd %}
                        <div class="col-lg-12 col-sm-12">
                            <div class="card p-1 card_boder">
                                <div class="card-head text-center card_headsize">{{i.doc_project_mdname}}</div>
                                <div class="card-body">
                                    <p>{{i.doc_project_mddise_d}}</p>
                                    <p>Developer :&nbsp;{{i.doc_duser.fullname}}</p>
                                    <p>Collected Date:&nbsp;{{i.doc_project_currentdate_d}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row answer2 ">
                    <h5 class="text-center">Project Models</h5>
                   
                    {% for i in pdocm %}
                        <div class="col-lg-12 col-sm-12">
                            <div class="card p-1 card_boder">
                                <div class="card-head text-center card_headsize"></div>
                                <div class="card-body">
                                    <h6>{{forloop.counter}}&nbsp;.{{i.doc_project_mdname}}</h6>
                                    <p>&nbsp;▪&nbsp;&nbsp;{{i.doc_project_dise_md}}</p>
                                    <!--<p>Developer :&nbsp;{{i.doc_mduser.fullname}}</p>
                                    <p>Collected Date:&nbsp;{{i.doc_project_currentdate_md}}</p>-->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row answer3">
                    <h5 class="text-center">Project Model Views</h5>
                   
                    {% for i in pdocv %}
                        <div class="col-lg-12 col-sm-12">
                            <div class="card p-1 card_boder">
                                <div class="card-head card_headsize"></div>
                                <div class="card-body">
                                    <h6>{{forloop.counter}}&nbsp;.{{i.doc_project_vname}}</h6>
                                    <p>&nbsp;▪&nbsp;&nbsp;{{i.doc_project_vdise}}</p>
                                    <!--<p>Developer :&nbsp;{{i.doc_vuser.fullname}}</p>
                                    <p>Collected Date:&nbsp;{{i.doc_project_currentdate_v}}</p>-->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row answer4">
                    <h5 class="text-center">Project Html Pages</h5>
                    {% for i in pdochp %}
                        <div class="col-lg-12 col-sm-12">
                            <div class="card p-1 card_boder">
                                <div class="card-head text-center card_headsize">{{i.doc_project_hpmdname}}</div>
                                <div class="card-body">
                                    <h6>{{i.doc_project_hpname}}</h6>
                                    <p>{{i.doc_project_hpdise}}</p>
                                    {% if i.doc_project_html_page %}
                                    <div class="card card_size">
                                        <img src="{{i.doc_project_html_page.url}}">
                                    </div>
                                    {% endif %}
                                    <p>Developer :&nbsp;{{i.doc_hpuser.fullname}}</p>
                                    <p>Collected Date:&nbsp;{{i.doc_project_currentdate_hp}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row answer5">
                    <h5 class="text-center">Project Libraryies</h5>
                    {% for i in pdoclb %}
                        <div class="col-lg-12 col-sm-12">
                            <div class="card p-1 card_boder">
                               
                                <div class="card-body">
                                    <h6>{{forloop.counter}}&nbsp;.{{i.doc_project_lbname}}</h6>
                                    <p>&nbsp;▪&nbsp;&nbsp;{{i.doc_project_lbdise}}</p>
                                   <!-- <p>Developer :&nbsp;{{i.doc_lbuser.fullname}}</p>
                                    <p>Collected Date:&nbsp;{{i.doc_project_currentdate_lb}}</p>-->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row answer6">
                    <h5 class="text-center">Project Other Details</h5>
                    {% for i in pdocdot %}
                        <div class="col-lg-12 col-sm-12">
                            <div class="card p-1 card_boder">
                                <div class="card-head text-center card_headsize">{{i.doc_project_othname}}</div>
                                <div class="card-body">
                                    <p>{{i.doc_project_othdise}}</p>
                                    <p>Developer :&nbsp;{{i.doc_othuser.fullname}}</p>
                                    <p>Collected Date:&nbsp;{{i.doc_project_currentdate_oth}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
           </div>
           <hr>


            <div class="row g-3">
                <h3 class="text-center text-primary mt-4">Project Upadation and Corrections </h3>

                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="check7" name="check7" value="1" onchange="valueChanged()"/>
                            <label class="form-check-label text-primary" for="check7">Project Correction</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="check8" name="check8" value="1" onchange="valueChanged()">
                            <label class="form-check-label text-primary" for="check8">Project Updations</label>
                        </div>
                    </div>
                </div>

                <br>
                <div class="col-lg-12 col-sm-12 answer7">
                    <h4 class="text-center">Correction Section</h4>
                    {% for i in corre %}
                    <div class="card p-3">
                    <div class="row">
                      <h5><b>&#9830;&nbsp;Module</b> :&nbsp;{{i.project_cu_module}}</h5>
                      <p class>Reported Date :&nbsp;{{i.project_date}}</p>
                      <p>Disecription :&nbsp;{{i.project_cu_descrip}}</p>
                      <p class="mb-4"><b>Privious Content And Image:</b>
                        <br>
                        <br>
                        <span>Start Date:{{i.project_cu_start}}</span>&nbsp; &nbsp;&nbsp;
                        <span>End Date:{{i.project_cu_end}}</span>&nbsp; &nbsp;&nbsp;
                        <span>Work days:{{i.project_cu_wdays}}</span>
                        <br><br>{{i.project_cu_newdescrip}}<br>
                        {% if i.project_oldui %}
                        <div class="card card_size" >
                            <img src="{{i.project_oldui.url}}" class="p-1">
                        </div>
                        
                        {% endif %}
                      </p>
                      <p class="mb-4"><b>New Content And Image :</b>
                       
                        <br><br>{{i.project_cu_newdescrip}}<br>
                        {% if i.project_cu_newui %}
                       
                        <div class="card card_size">
                            <img src="{{i.project_cu_newui.url}}" class="p-1">
                        </div>
                       
                        {% endif %}
                      </p>
                    </div>
                   </div>
                    {% endfor  %}
                </div>

                
                <div class="col-lg-12 col-sm-12 answer8">
                    <h4 class="text-center">Updation Section</h4>
                    {% for j in updte %}
                    <div class="card p-3">
                    <div class="row" >
                      <h5>&#9830;&nbsp;Module :&nbsp;{{j.project_cu_module}}</h5>
                      <p class=>Reported Date :&nbsp;{{j.project_date}}</p>
                      <p>Disecription :&nbsp;{{j.project_cu_descrip}}</p>
                    
                      <p class="mb-4">
                        
                        <b>Privious Content And Image:</b>
                        <br>
                        <br>
                       
                        <span>Start Date:{{j.project_cu_start}}</span>&nbsp; &nbsp;&nbsp;
                        <span>End Date:{{j.project_cu_end}}</span>&nbsp; &nbsp;&nbsp;
                        <span>Work days:{{j.project_cu_wdays}}</span>
                       
                        <br><br>{{j.project_cu_newdescrip}}<br>
                        {% if j.project_oldui %}
                        <div class="card card_size">
                            <img src="{{j.project_oldui.url}}" class="p-1">
                        </div>
                        
                        {% endif %}
                      </p>
                      <p class="mb-4">
                        
                        <b>New Content And Image :</b>
                      
                        
                        <br><br>{{j.project_cu_newdescrip}}<br>
                        {% if j.project_cu_newui %}
                        <div class="card card_size">
                            <img src="{{j.project_cu_newui.url}}" class="p-1">
                        </div>
                       
                        {% endif %}
                      </p>
                    
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function valueChanged()
    {
        if($('#check1').is(":checked"))   
            $(".answer1").show();
        else
            $(".answer1").hide();

        if($('#check2').is(":checked"))   
            $(".answer2").show();
        else
            $(".answer2").hide();
        if($('#check3').is(":checked"))   
            $(".answer3").show();
        else
            $(".answer3").hide();

        if($('#check4').is(":checked"))   
            $(".answer4").show();
        else
            $(".answer4").hide();
        if($('#check5').is(":checked"))   
            $(".answer5").show();
        else
            $(".answer5").hide();
        if($('#check6').is(":checked"))   
            $(".answer6").show();
        else
            $(".answer6").hide();

        if($('#check7').is(":checked"))   
            $(".answer7").show();
        else
            $(".answer7").hide();
        if($('#check8').is(":checked"))   
            $(".answer8").show();
        else
            $(".answer8").hide();
    }
</script>



{%endblock%}