{%extends 'TLindex.html'%}
{%load static%}
{%block content%}

<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <form action="{% url 'devproctdocdays_edit_save' projectscu.id %}" method="post">
                {% csrf_token %}
               
                <h4 class="text-center"> Change Work Days</h4>
                <p>Start Date :{{projectscu.project_cu_start}}&nbsp;&nbsp;&nbsp; End Date : {{projectscu.project_cu_end}}</p>
                <input type="date" class="form-control mt-5 mb-5" name="dateedit">
                <input type="number"class="form-control mb-5" name="dayedit" value="{{projectscu.project_cu_wdays}}">
                <button type="submit" class="btn btn-success">SAVE</button>
            </form>
        </div>
      </div>
    </div>
</div>


{%endblock%}