{%extends 'TLindex.html'%}
{%load static%}
{%block content%}


<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <h4 class="text-center mb-4">Project Updation And Corrections</h4>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <form>
                  <div class="input-group input-group-sm mb-3">
                    <input
                      type="text"
                      class="form-control text-white"
                      id="myInput"
                      onkeyup="myFunction()"
                      placeholder="Search . . ."
                      style="border: green"
                    />
                  </div>
                </form>
              </div>

              <div class="table-responsive">
                
                <table class="table" id="myTable">
                  <thead>
                    <tr>
                      <th>No</th>
                    
                      <th>Project Module </th>
                      <th>Module Desecription </th>
                      <th>Work Type </th>
                      <th>Developer </th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <td>Work Days </td>
                      <th>Status </th>
                      <th>Assign </th>
                      
      
                    </tr>
                  </thead>
                {% if docview %}
                    <tbody>
                    {% for i in docview %}
                    
                        <tr>
                            <td>{{forloop.counter}}</td>
                        
                            <td>{{i.tl_docprojectco_up.project_cu_module}}</td>
                            <td>{{i.tl_docprojectco_up.project_cu_descrip}}</td>
                            <td>{{i.tl_docprojectco_up.project_cu_status}}</td>
                            <form  action="{% url 'devproctdoc_assign' i.id %}" method="post">
                                {% csrf_token %}
                                <td>
                                    <select class="form-control w-100" style="color:#fff ;" name="devname">
                                        {% for i in devel %}
                                            <option value="{{i.fullname}}">{{i.fullname}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="date" class="form-control" name="devstartdate">
                                </td>
                                <td>
                                    <input type="date"  class="form-control" name="devenddate">
                                </td>
                                <td>
                                    <input type="number" class="form-control w-100" name="devworkday">
                                </td>
                               
                                <td>
                                {% if assigned %}
                                    {% for j in assigned %}
                                        {% if i.id == j.devprdoc_id.id %}
                                            Assigned
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    Not Assinged
                                {% endif %}

                                </td>
                               
                              
                                <td> <button type="submit"  class="btn btn-outline-success" href="" style="cursor:pointer">Assign</button></td>

                            </form>
                            
                        </tr>
                    
                    {% endfor %}
                {% else %}
                          <h5 style="text-align:center">Nothing to display!</h5>
                {% endif %}
                  </tbody>
              </table>
           
          </div>
        </div>
      </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  

</script>

{%endblock%}