{%extends 'TLindex.html'%}
{%load static%}
{%block content%}

<style>
	
	.w3-wrapper{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    padding: 11px 7px 15px 7px;
    display: block;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    box-sizing: border-box;
    height: 54px;
    width:38px;
  }
  .notify-icon{
    width: 25px;
      height: 25px;
      display: block;
      position: relative;
      background-position: center center;
    animation:ring 1.6s linear infinite;
    color: #d4857a;
  }

  @keyframes ring
  {
    0% { transform: rotate(0deg) }
    5% { transform: rotate(0deg) }
    15% { transform: rotate(0deg) }
    25% { transform: rotate(20deg) }
    35% { transform: rotate(-15deg) }
    45% { transform: rotate(10deg) }
    55% { transform: rotate(-5deg) }
    60% { transform: rotate(0deg) }
    100% { transform: rotate(0deg) }
  }
	
  


  </style>


<div class="row pt-3" >
  <div class="col-6">
    <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">PROJECTS</div>
    {% if notific > 0 %}
      <a href="{% url 'TLproject_task_delay' %}" class="w3-wrapper sdp-glow">
        <span class="mdi mdi-email-outline mdi-24px notify-icon "></span> 
       
      </a>
    {% endif %}
  </div>
  <div class="col-6">
   
  </div>
    
    
  </div>
   
    <div class="row mt-4">
      {% for i in display %}
      <div class="col-lg-4 col-md-4 col-12 mt-2">
        <div class="card">
          <a href="{% url 'tlprojecttasks' i.project_id %}" class="text-decoration-none text-white ">
            <div class="card-body">
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                  
                    {% for j in display1 %}
                  
                  {% if i.project_id == j.id %}
                    
                  <h4 class="mb-0" >{{j.project}}</h4>
                  {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
              </div>
              </div>
            </div>
            </a>
          </div>
      </div> {% endfor %}
    </div>
   
      
{% endblock %}

