{% extends 'audit_module/audit_index.html' %} 
{% load static %} 
{% block content %}

<style>
    @media (max-width:992px) {
      #log {
        max-width: 100px;
        margin-top: 12px;
        margin-left: 25px;
        margin-right: 15px;
      }
    }
    a{
        text-decoration: none;
    }
    a:hover
    {
        text-decoration: none;
       
    }
    table
    {
        text-align: center;
    }
    i{
        font-size: .90rem;
    }
    i:hover{
        color: #fff;
    }
    .icon 
    {
      font-size: 1.5rem;
    }
    .iconpdf
    {
      font-size: 1.7rem;
    }
  </style>

  <div class="row">
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'Audit_project_user_requirement' proj_doc.doc_project_id.id  %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">User Manuvel</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-cloud-download text-warning ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'Audit_project_Budgect' proj_doc.doc_project_id.id  %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Budget Of Project</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-arrow-right-drop-circle text-info ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'Audit_detail_project' proj_doc.doc_project_id.id  %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Project</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-cloud-check text-success ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'Audit_project_doc' proj_doc.id %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Project Documents</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-file-plus text-primary ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
   <!-- <div class="col-sm-4 grid-margin">
      <a href="{% url 'projectmanager_assignproject'%}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Assign project</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-danger ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'projectmanager_edit_assigned_projects'%}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Change Assign project</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-danger ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'projectManager_edit_projects_status' %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Change project status</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-cloud-check text-success ms-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'projectManager_project_document' %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Project Documents</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-checkbox-multiple-blank-outline"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'projectManager_project_delay' %}" style="text-decoration: none;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color: white;">Project Delay Action</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-clock"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>-->
  </div>
  
  
  



 <!-- <div class="row">
    <div class="mb-2 " style="font-size: 20px;font-weight: 600;color: #dfe1ed;">Developers and Task </div>
  </div>
  
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <form>
              <div class="input-group input-group-sm mb-3">
                <input
                  type="text"
                  class="form-control text-white"
                  id="myInput"
                  onkeyup="myFunction()"
                  placeholder="Search . . ."
                  style="border: green"
                />
              </div>
            </form>
          </div>
          <div class="table-responsive">
            <table class="table" id="myTable">
              <thead>
                <tr>
                
                  <th>Name</th>
                  <th>Task</th>
                  <th>Sub Task</th>
                  <th>Assign Date</th>
                  <th>End Date</th>
                  <th>Team Leader</th>
                  <th>Progress</th>
                  <th>Delay</th>
                
                </tr>
              </thead>
              {% if proj_task %}
              {% for i in proj_task %}
              <tbody>
                
                  <tr class="">
                     
                      <td><span class="ps-2">{{i.developer.fullname}}</span></td>
                      <td>{{i.task}}</td>
                      <td>{{i.subtask}}</td>
                      <td>{{i.startdate|date:'d-m-Y'}}</td>
                      <td>{{i.enddate|date:'d-m-Y'}}</td>
                      <td>{{i.tl.fullname}}</td>
                      <td>
                        <div class="progress">
                            <div class="progress-bar" style="width:{{i.progress}}%">{{i.progress}}%</div>
                          </div>
                      </td>
                      <td><button class="btn btn-outline-warning">{{i.delay}} </button></td>
                    
                  </tr>
              
                {% endfor %}
                {% else%}
                      <h5 style="text-align:center">Nothing to display!</h5>
                {% endif %}
              </tbody>
          </table>
      </div>
        </div>
      </div>
    </div>
  </div>-->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
             
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td)
           {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) 
            {
              tr[i].style.display = "";
            } 
            else
            {
              tr[i].style.display = "none";
            }
          }
        }
      }
</script>
  


{% endblock %}