{% extends 'audit_module/audit_index.html' %} 
{% load static %} 
{% block content %}

<style>
    @media (max-width:992px) {
      #log {
        max-width: 100px;
        margin-top: 12px;
        margin-left: 25px;
        margin-right: 15px;
      }
    }
    a{
        text-decoration: none;
    }
    a:hover
    {
        text-decoration: none;
       
    }
    table
    {
        text-align: center;
    }
    i{
        font-size: .90rem;
    }
    i:hover{
        color: #fff;
    }
    .icon 
    {
      font-size: 1.5rem;
    }
    .iconpdf
    {
      font-size: 1.7rem;
    }
  </style>

   <div class="row">
    <div class="mb-2 " style="font-size: 20px;font-weight: 600;color: #dfe1ed;">Projects Document </div>
  </div>

  
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            
          </div>
          <div class="table-responsive">
            <table class="table" id="">
              <thead>
                <tr>
                  <th>Doc Download</th>
                  <th>Project</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Start Document</th>
                  <th>Doc.Start Date</th>
                  <th>User Requirement</th>
                  <th>Correction</th>
                  <th>Updation</th>
                  <th>Code Document</th>
                  <th>Project Document</th>

                
                
                </tr>
              </thead>
              {% if proj_doc %}
              {% for i in proj_doc %}
              <tbody>
                {% if i.doc_project_id.status == 'accepted' or i.doc_project_id.status == 'assigned'%}
                  <tr class="">
                    <td>
                      {% if i.doc_project_ui %}
                      <a class="btn btn-outline-primary" href="{{i.doc_project_ui.url}}" download="{{i.doc_project_ui.url}}">Download</a>
                      {% endif %}
                    </td>
                      <td><span class="ps-2">{{i.doc_project_name}}</span></td>
                      <td>{{i.doc_project_startdate|date:'d-m-Y'}}</td>
                      <td>{{i.doc_project_enddate|date:'d-m-Y'}}</td>
                    
                      <td> 
                        {% if i.doc_status == '0' %}
                          Doc.work Pending
                        {% elif i.doc_status == 'complete' %}
                            Doc.Completed
                        {% else %}
                          Doc.work started
                        {% endif%}
                      </td>
                     
                      <td>{{i.doc_project_currentdate|date:'d-m-Y'}}</td>
                      {% if i.doc_status == '1' %}
                      <td><a  class="text-danger" href="{% url 'pm_doc_des_pdf' i.id %}" style="cursor:pointer"><i class="mdi mdi-file-pdf iconpdf"></i> </a></td>
                        
                        <td><a class="text-danger" href="{% url 'pm_doc_corr_pdf' i.id %}" style="cursor:pointer"><i class="mdi mdi-file-pdf iconpdf"></i> </a></td>
                        <td><a  class="text-danger" href="{% url 'pm_doc_updt_pdf' i.id %}" style="cursor:pointer"><i class="mdi mdi-file-pdf iconpdf"></i> </a></td>
                        <td><a  class="text-danger" href="{% url 'pm_doccode_pdf' i.id %}" style="cursor:pointer"><i class="mdi mdi-file-pdf iconpdf"></i> </a></td>
                        <td><a  class="text-danger" href="{% url 'pm_docfull_pdf' i.id %}" style="cursor:pointer"><i class="mdi mdi-file-pdf iconpdf"></i> </a></td>
                       
                        
                        
                       
                      {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      
                       
                      {% endif %}
                  </tr>
                {% endif %}
                {% endfor %}
                {% else%}
                      <h5 style="text-align:center">Nothing to display!</h5>
                {% endif %}
              </tbody>
          </table>
      </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}