{% extends 'audit_module/audit_index.html' %} 
{% load static %} 
{% block content %}



<div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <h3>Developers List</h3>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <form>
                <div class="input-group input-group-sm mb-3">
                  <input type="text" class="form-control text-light" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
              title="Type in a name" style="color:white;">
  
                  
                </div>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table " id="myTables">
              <thead>
                <tr data-href="#">
                  <th>SlNo</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact No</th>
                  <th>Join Date</th>
                  <th>Department</th>
                </tr>
              </thead>
              <tbody>
                {% for i in dev_tl %}
                <tr data-href="{% url 'Audit_employee_dashbord' i.id %}">
                  <td>{{ forloop.counter }}</td>
                  
                  <td>
                    <img src="{{media_url}}{{i.photo.url}}" class="img-fluid rounded-circle " alt="image"  >                    
                      {{i.fullname}}</a>
                  </td>
                  <td>{{i.email}}</td>
                  <td>{{i.mobile}}</td>
                  <td>{{i.startdate|date:"d-m-Y"}}</td>
                  <td>{{i.department}}</td>
  
                  
                </tr>
                {% endfor %}
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <h5>Project List</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <form>
                <div class="input-group input-group-sm mb-3">
                  <input type="text" class="form-control text-light" id="myInputp" onkeyup="myFunction_Project()" placeholder="Search for names.."
              title="Type in a name" style="color:white;">
  
                  
                </div>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table " id="myTablesp">
              <thead>
                <tr data-href="#">
                <th>Project Name</th>
                </tr>
              </thead>
              <tbody>
                {% for dp in devp %}
                {% for p in pros %}   
                {% if dp.project_id == p.id %}        
                <tr data-href="{% url 'Audit_tlproject_split' p.id Audit_tl %}">
                  <td>
                    {{p.project}}
                  </td>
                  
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <h5>Warnings Given By</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <form>
                <div class="input-group input-group-sm mb-3">
                  <input type="text" class="form-control text-light" id="myInputw" onkeyup="myFunction_Warning()" placeholder="Search for names.."
              title="Type in a name" style="color:white;">
  
                  
                </div>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table " id="myTablesw">
              <thead>
                <tr data-href="#">
                <th>Date</th>
                <th>Project name</th>
                <th>Project Task</th>
                <th>Developer</th>
                <th>Action Taken</th>
                </tr>
              </thead>
              <tbody>
                {% for dp in warn %}     
                <tr data-href="#">
                  <td>{{dp.wrn_date|date:"d-m-Y"}}</td>
                  <td>{{dp.wrn_task.project.project}}</td>
                  <td>{{dp.wrn_task.task}}</td>
                  <td>{{dp.wrn_develp.fullname}}</td>
                  <td>{{dp.wrn_reason}}</td>
                  
                </tr>
                {% endfor %}
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTables tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $(document).ready(function () {
      $("#myInputp").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTablesp tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    $(document).ready(function () {
      $("#myInputw").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTablesw tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

  </script>

  <script>
      function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTables");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      
      
    $(document).ready(function(){
      $('table tr').click(function(){
          window.location = $(this).data('href');
          return false;
      });
  });

  function myFunction_Project() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInputp");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTablesp");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) 
        {
          tr[i].style.display = "";
        }
        else 
        {
          tr[i].style.display = "none";
        }
      }
    }
  }
  function myFunction_Warning() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInputw");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTablesw");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) 
        {
          tr[i].style.display = "";
        }
        else 
        {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
  

{% endblock %}