{% extends 'audit_module/audit_index.html' %} 
{% load static %} 
{% block content %}
<style>
    .btn{
        color: #fff;
    }


   
    .answer2 { display:none; }
    .answer3 { display:none; }
    .answer4 { display:none; }
    .answer5 { display:none; }
    .answer6 { display:none; }

      
    
</style>



<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <center>
                    <h3 class="card-title">PROFILE</h3>
                    {% if emp.photo %}
                    <img src="{{ emp.photo.url }}" alt="image" style="border-radius: 50%;" width="130" height="130" />
                    {% endif %}
                    <!-- <canvas id="transaction-history" class="transaction-chart"></canvas> -->
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                        <div class="text-md-center text-xl-left">

                            <h6 class="mb-1">Joining Date</h6>
                            <!-- <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p> -->
                        </div>
                        <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                            <h6 class="text-muted mb-0">{{ emp.joiningdate|date:"d-m-Y" }}</h6>
                        </div>
                    </div>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                        <div class="text-md-center text-xl-left">
                            <h6 class="mb-1">Designation</h6>
                            <!-- <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p> -->
                        </div>
                        <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                            <h6 class="text-muted mb-0">{{ emp.designation }}</h6>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <p class="text-muted mb-1">Your data status</p>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-12">
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-primary">
                      <i class="mdi mdi-file-document"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">NAME</h6>
                                        <!-- <p class="text-muted mb-0">Broadcast web app mockup</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">15 minutes ago</p>
                      <p class="text-muted mb-0">30 tasks, 5 issues </p> -->
                                        <h6 class="preview-subject">{{ emp.fullname }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-success">
                      <i class="mdi mdi-cloud-download"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">DEPARTMENT</h6>
                                        <!-- <p class="text-muted mb-0">Upload new design</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">1 hour ago</p>
                      <p class="text-muted mb-0">23 tasks, 5 issues </p> -->
                                        <h6 class="preview-subject">{{ emp.department }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-info">
                      <i class="mdi mdi-clock"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">EMAIL</h6>
                                        <!-- <p class="text-muted mb-0">New project discussion</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">35 minutes ago</p>
                      <p class="text-muted mb-0">15 tasks, 2 issues</p> -->
                                        <h6 class="preview-subject">{{ emp.email }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-danger">
                      <i class="mdi mdi-email-open"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">CONTACT NUMBER</h6>
                                        <!-- <p class="text-muted mb-0">Sent release details to team</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">55 minutes ago</p>
                      <p class="text-muted mb-0">35 tasks, 7 issues </p> -->
                                        <h6 class="preview-subject">{{ emp.mobile }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-warning">
                      <i class="mdi mdi-chart-pie"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <!-- <h6 class="preview-subject">JIONING DATE</h6> -->
                                        <!-- <p class="text-muted mb-0">New application planning</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">50 minutes ago</p>
                      <p class="text-muted mb-0">27 tasks, 4 issues </p> -->
                                        <!-- <h6 class="preview-subject">15/02/2022</h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

{% if emp.employee_type == '0'%}
<div class="row">
    <div class="col-lg-3 col-sm-12"> 
         <a href="{% url 'Audit_trainee_dashboard' emp.id %}" class="btn btn-primary" >Go To Training Section
            <i class="mdi mdi-arrow-right-bold-circle mdi-24px"></i>
         </a>
        
    </div>
</div>
{% endif %}


<br>


<br>
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="form-check mt-3 pl-3">
            <input class="form-check-input" type="checkbox" id="check2" name="check2" value="1" onchange="valueChanged()">
            <label class="form-check-label"><h4>Project</h4></label>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12"><p>Delay &nbsp;Of&nbsp; This&nbsp; Month&nbsp;&nbsp;-&nbsp;&nbsp;{{count}}</p></div>
</div>

<hr>
<div class="row mt-1 answer2">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="row mt-4">
            {% for dp in devp %}
            <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="{% url 'Audit_DEVtable' dp.project_id emp.id %}" class="text-decoration-none text-white ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                                        
                                        {% for p in pros %}
                                
                                        {% if dp.project_id == p.id %}           

                                            <h4 class="mb-0" style="color:white;">{{p.project}}</h4>

                                        {% endif %}
                                        
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                    <i class="icon-lg mdi mdi-arrange-send-backward text-primary ms-auto"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="form-check mt-3 pl-3">
            <input class="form-check-input" type="checkbox" id="check3" name="check3" value="1" onchange="valueChanged()">
            <label class="form-check-label"><h4>Leaves&nbsp; and &nbsp; Attendence</h4></label>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12"><p>Total&nbsp; Leaves &nbsp;Of&nbsp; This&nbsp; Month&nbsp;&nbsp;-&nbsp;&nbsp;{{leaves}}</p></div>


<hr>
<div class="row mt-1 answer3">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Leaves </h4>
                <input type="text" class="form-control " onkeyup="myFunction_leave()" id="leave_search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>From Date </th>
                                <th>To Date </th>
                                <th> Reason</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="myTable_leave">
                        {% if t_leave %}
                            {% for i in t_leave %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td>{{i.from_date|date:"d-m-Y"}}</td>
                                <td>{{i.to_date|date:"d-m-Y"}}</td>
                                <td>{{i.reason}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                        {% endif %} 
                            
                        </tbody>
       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-1 answer3">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Attendences </h4>
                <input type="text" class="form-control " onkeyup="myFunction_attened()" id="attend_search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th> Date </th>
                                <th> Status</th>
                            </tr>
                        </thead>
                        <tbody id="myTable_attend">
                        {% if attend %}
                            {% for i in attend %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td>{{i.date|date:"d-m-Y"}}</td>
                                <td>
                                    {% if i.attendance_status == '1' %}
                                    <p class="text-success">Present</p>
                                    {% else %}
                                    <p class="text-danger">Absent</p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                        {% endif %} 
                            
                        </tbody>
       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="form-check mt-3 pl-3">
    <input class="form-check-input" type="checkbox" id="check4" name="check4" value="1" onchange="valueChanged()">
    <label class="form-check-label"><h4>Salary</h4></label>
</div>
<hr>
<div class="row mt-1 answer4">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Salary </h4>
                <input type="text" class="form-control " onkeyup="myFunction()" id="search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th> Batch Name </th>
                                <th> Date </th>
                                <th> Paid Date</th>
                                <th> Amount</th>
                                <th> Pending Amount </th>
                                <td>Payment Proof</td>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        {% if t_payments %}
                            {% for i in t_payments %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td></td>
                                <td>{{i.current_date|date:"d-m-Y"}}</td>
                                <td>{{i.amount_date|date:"d-m-Y"}}</td>
                                <td>{{i.amount_pay}}</td>
                                <td>{{i.balance_amt}}</td>
                                <td>
                                    {% if i.amount_downlod %}
                                    <a href="{{i.amount_downlod.url}" class="btn btn-primary" download="{i.amount_downlod.url}"><span class="mdi mdi-download"></span></a>
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                        {% else %}
                        <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                        {% endif %} 
                            
                        </tbody>
       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<div class="form-check mt-3 pl-3">
    <input class="form-check-input" type="checkbox" id="check5" name="check5" value="1" onchange="valueChanged()">
    <label class="form-check-label"><h4>Issues Reported</h4></label>
</div>
<hr>
<div class="row mt-1 answer5">
   
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Issues Reported</h4>
               
                <br>
                <div class="table-responsive">
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th> Date </th>
                                <th> Issue</th>
                                <th> To</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            
                            {% for i in t_rep_issue %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td> {{i.reported_date|date:"d-m-Y"}}</td>
                                <td>{{i.issue}}</td>
                                <td>{{i.reported_to.fullname}}</td>
                                <td>{{i.reply}}</td>
                                <td></td>

                                {% endfor %}
                            </tr>
                            
                            
                        </tbody>
       
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function valueChanged()
    {
        if($('#check1').is(":checked"))   
            $(".answer1").show();
        else
            $(".answer1").hide();

        if($('#check2').is(":checked"))   
            $(".answer2").show();
        else
            $(".answer2").hide();

        if($('#check3').is(":checked"))   
            $(".answer3").show();
        else
            $(".answer3").hide();

        if($('#check4').is(":checked"))   
            $(".answer4").show();
        else
            $(".answer4").hide();

        if($('#check5').is(":checked"))   
            $(".answer5").show();
        else
            $(".answer5").hide();

        
    }
</script>


{% endblock%}