{% extends 'audit_module/audit_index.html' %} 
{% load static %} 
{% block content %}
<style>
    h4,a{
        text-decoration: none;
        color: #6C7293
    }
    a:hover
    {
        color: #d4d6de
    }
    .answer1 { display:block; }
    .answer2 { display:none; }
    .answer3 { display:none; }
    .answer4 { display:none; }
    .answer5 { display:none; }
    .answer6 { display:none; }
</style>


<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <center>
                    <h3 class="card-title">PROFILE</h3>
                    {% if traine_db.photo %}
                    <img src="{{ traine_tainer_db.photo.url }}" alt="image" style="border-radius: 50%;" width="130" height="130" />
                    {% endif %}
                    <!-- <canvas id="transaction-history" class="transaction-chart"></canvas> -->
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                        <div class="text-md-center text-xl-left">

                            <h6 class="mb-1">Joining Date</h6>
                            <!-- <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p> -->
                        </div>
                        <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                            <h6 class="text-muted mb-0">{{ traine_tainer_db.joiningdate|date:"d-m-Y" }}</h6>
                        </div>
                    </div>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                        <div class="text-md-center text-xl-left">
                            <h6 class="mb-1">Designation</h6>
                            <!-- <p class="text-muted mb-0">07 Jan 2019, 09:12AM</p> -->
                        </div>
                        <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                            <h6 class="text-muted mb-0">{{ traine_tainer_db.designation }}</h6>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <p class="text-muted mb-1">Your data status</p>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-12">
                        <div class="preview-list">
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-primary">
                      <i class="mdi mdi-file-document"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">NAME</h6>
                                        <!-- <p class="text-muted mb-0">Broadcast web app mockup</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">15 minutes ago</p>
                      <p class="text-muted mb-0">30 tasks, 5 issues </p> -->
                                        <h6 class="preview-subject">{{ traine_tainer_db.fullname }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-success">
                      <i class="mdi mdi-cloud-download"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">DEPARTMENT</h6>
                                        <!-- <p class="text-muted mb-0">Upload new design</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">1 hour ago</p>
                      <p class="text-muted mb-0">23 tasks, 5 issues </p> -->
                                        <h6 class="preview-subject">{{ traine_tainer_db.department }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-info">
                      <i class="mdi mdi-clock"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">EMAIL</h6>
                                        <!-- <p class="text-muted mb-0">New project discussion</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">35 minutes ago</p>
                      <p class="text-muted mb-0">15 tasks, 2 issues</p> -->
                                        <h6 class="preview-subject">{{ traine_tainer_db.email }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item border-bottom">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-danger">
                      <i class="mdi mdi-email-open"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <h6 class="preview-subject">CONTACT NUMBER</h6>
                                        <!-- <p class="text-muted mb-0">Sent release details to team</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">55 minutes ago</p>
                      <p class="text-muted mb-0">35 tasks, 7 issues </p> -->
                                        <h6 class="preview-subject">{{ traine_tainer_db.mobile }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-item">
                                <div class="preview-thumbnail">
                                    <!-- <div class="preview-icon bg-warning">
                      <i class="mdi mdi-chart-pie"></i>
                    </div> -->
                                </div>
                                <div class="preview-item-content d-sm-flex flex-grow">
                                    <div class="flex-grow">
                                        <!-- <h6 class="preview-subject">JIONING DATE</h6> -->
                                        <!-- <p class="text-muted mb-0">New application planning</p> -->
                                    </div>
                                    <div class="me-auto text-sm-right pt-2 pt-sm-0">
                                        <!-- <p class="text-muted">50 minutes ago</p>
                      <p class="text-muted mb-0">27 tasks, 4 issues </p> -->
                                        <!-- <h6 class="preview-subject">15/02/2022</h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="form-check mt-3 pl-3">
    <input class="form-check-input" type="checkbox" id="check1" name="check1" value="1" onchange="valueChanged()" checked >
    <label class="form-check-label"><h4>Training</h4></label>
</div>

<hr>
<div class="row mt-1 answer1">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Training &nbsp;Teams &nbsp;  Of &nbsp; {{ traine_tainer_db.fullname }}</h4>
                <input type="text" class="form-control " onkeyup="myFunction()" id="search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th> Batch Name </th>
                                <th> Team Name</th>
                                <th> Training Start Date </th>
                                <th> Training End Date </th>
                                <th> Progress</th>

                            </tr>
                        </thead>
                        <tbody id="myTable">
                        {% if trainer_team %}
                            {% for i in trainer_team %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td>{{i.bt_name}}</td>
                                <td> <a href="{% url 'audit_trainer_teamview' i.id %}">{{i.name}}</a></td>
                                <td>{{i.startdate|date:"d-m-Y"}}</td>
                                <td>{{i.enddate|date:"d-m-Y"}}</td>
                                <td> 
                                    <div class="progress" data-toggle="modal" data-target="#testerstatus{{i.id}}">
                                        <div class="progress-bar" role="progressbar" style="width:{{i.progress}}%;" aria-valuenow="{{i.progress}}" aria-valuemin="0" aria-valuemax="100">{{i.progress}}%</div>
                                    </div>
                                </td>
                               
                                {% endfor %}
                            </tr>
                        {% else %}
                        <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                        {% endif %} 
                            
                        </tbody>
       
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<div class="form-check mt-3 pl-3">
    <input class="form-check-input" type="checkbox" id="check2" name="check2" value="1" onchange="valueChanged()" >
    <label class="form-check-label"><h4>Project</h4></label>
</div>

<hr>
<div class="row mt-1 answer2">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Projects &nbsp;given &nbsp;by &nbsp; {{ traine_tainer_db.fullname }}</h4>
                <input type="text" class="form-control " onkeyup="myFunction()" id="search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th> Batch Name </th>
                                <th> Team Name</th>
                                <th> Trainee Name</th>
                                <th> Project Name</th>
                                <th> Project Desecription</th>
                                <th> File</th>
                                <th> Start Date </th>
                                <th> End Date </th>
                                <th>Status </th>
                                <th> Progress</th>

                            </tr>
                        </thead>
                        <tbody id="myTable">
                        {% if test %}
                            {% for i in test %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td>{{i.bt_name}}</td>
                                <td> {{i.name}}</td>
                                <td> {{i.name}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{i.startdate|date:"d-m-Y"}}</td>
                                <td>{{i.enddate|date:"d-m-Y"}}</td>
                                <td>verified</td>
                                <td> 
                                    <div class="progress" data-toggle="modal" data-target="#testerstatus{{i.id}}">
                                        <div class="progress-bar" role="progressbar" style="width:{{i.progress}}%;" aria-valuenow="{{i.progress}}" aria-valuemin="0" aria-valuemax="100">{{i.progress}}%</div>
                                    </div>
                                </td>
                               
                                {% endfor %}
                            </tr>
                        {% else %}
                        <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                        {% endif %} 
                            
                        </tbody>
       
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<br>
<div class="form-check mt-3 pl-3">
    <input class="form-check-input" type="checkbox" id="check3" name="check3" value="1" onchange="valueChanged()" >
    <label class="form-check-label"><h4>Feedback</h4></label>
</div>

<hr>
<div class="row g-2 mt-1 answer3">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">from  &nbsp; trainees  &nbsp;To &nbsp; {{ traine_tainer_db.fullname }}</h4>
                <input type="text" class="form-control " onkeyup="myFunction()" id="search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date </th>
                                <th>Trainee Name</th>
                                <th>Feedback </th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        {% if fbfrom %}
                            {% for i in fbfrom %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td>{{i.fb_date|date:"d-m-Y"}}</td>
                                <td> {{i.fb_from.fullname}}</td>
                                <td> {{i.fb}}</td>
                               
                               

                                {% endfor %}
                            </tr>
                        {% else %}
                        <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                        {% endif %} 
                            
                        </tbody>
       
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">From &nbsp; {{ traine_tainer_db.fullname }}  &nbsp;to&nbsp; trainees </h4>
                <input type="text" class="form-control " onkeyup="myFunction()" id="search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date </th>
                                <th>Trainee Name</th>
                                <th>Feedback </th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                        {% if fbto %}
                            {% for i in fbto %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td>{{i.fb_date|date:"d-m-Y"}}</td>
                                <td> {{i.fb_to}}</td>
                                <td> {{i.fb}}</td>
                               
                               
                               
                                {% endfor %}
                            </tr>
                        {% else %}
                        <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                        {% endif %} 
                            
                        </tbody>
       
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
         
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td)
           {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) 
            {
              tr[i].style.display = "";
            } 
            else
            {
              tr[i].style.display = "none";
            }
          }
        }
      }
</script>

<script type="text/javascript">
    function valueChanged()
    {
        if($('#check1').is(":checked"))   
            $(".answer1").show();
        else
            $(".answer1").hide();

        if($('#check2').is(":checked"))   
            $(".answer2").show();
        else
            $(".answer2").hide();

        if($('#check3').is(":checked"))   
            $(".answer3").show();
        else
            $(".answer3").hide();

        if($('#check4').is(":checked"))   
            $(".answer4").show();
        else
            $(".answer4").hide();

        if($('#check5').is(":checked"))   
            $(".answer5").show();
        else
            $(".answer5").hide();

        
    }
</script>

{% for dp in trainer_team %}

<!-- pop up window for tester status -->
<div class="modal fade" id="testerstatus{{dp.id}}">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="modal-header" style="border-bottom: 0 none;">
        <h5 class="modal-title text-info">Trainer Task status</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
          style="background-color: #191c24;border:none; float: right;font-size: 20px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="table-responsive mt-3 mb-3 container">
        <table class="table  table-bordered ">
          <thead style="background-color: black;">
            <tr>
              <th scope="col" style="color:#6C7293;">Date</th>
              <th scope="col" style="color:#6C7293;">Trainer Name</th>
              <th scope="col" style="color:#6C7293;">Task</th>
              <th scope="col" style="color:#6C7293;">Desecription</th>
              <th scope="col" style="color:#6C7293;">Files</th>
              <th scope="col" style="color:#6C7293;">Status</th>
              
            </tr>
          </thead>
          <tbody>

            {% for i in testerstatus %}

            {% if i.subtask_id == dp.id %}
            <tr>
              <td style="color:white;">{{i.date|date:"d-m-Y"}}</td>
              <td style="color:white;">{{i.subtask.task}}</td>
              <td style="color:white;">{{i.workdone}}</td>
              <td class="text-info">
                <a href="{{i.files.url}}" download style="text-decoration:none;">
                  <div class="badge badge-outline-primary">Download</div>
                </a>
              </td>
              <td  style="color:white;"></td>
            </tr>
            {% endif %}
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}