{% extends 'audit_module/audit_index.html' %} 
{% load static %} 
{% block content %}
<style>
  td a
  {
    text-decoration: none;
    color:#6C7293;
  }
  .iconpdf
    {
      font-size: 1.5rem;
    }
</style>

<div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <h5>Employee List</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <form>
                <div class="input-group input-group-sm mb-3">
                  <input type="text" class="form-control text-light" id="search" placeholder="Search for names.."
              title="Type in a name" style="color:white;">
  
                  
                </div>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table " id="myTable">
              <thead>
                <tr data-href="#">
                  <th>SlNo</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact No</th>
                  <th>Join Date</th>
                  <th>Department</th>
                  <th>Daily Report</th>
                  <th>Full Report</th>
                  <th>Training Time Report</th>
        
                </tr>
              </thead>
              <tbody>
                {% for i in use %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  
                  <td>
                   <a href="{% url 'Audit_employee_dashbord' i.id %}"> <img src="{{media_url}}{{i.photo.url}}" class="img-fluid rounded-circle " alt="image"  >                    
                      {{i.fullname}}</a>
                  </td>
                  <td>{{i.email}}</td>
                  <td>{{i.mobile}}</td>
                  <td>{{i.startdate|date:"d-m-Y"}}</td>
                  <td>{{i.department}}</td>
                  <td><a data-toggle="modal" data-target="#myModaldaily{{i.id}}" class="text-danger"><i class="mdi mdi-file-pdf iconpdf"></i> </a></td>
                  <td><a data-toggle="modal" data-target="#myModal{{i.id}}" class="text-danger"><i class="mdi mdi-file-pdf iconpdf"></i> </a></td>
                 
                  <td><a data-toggle="modal" data-target="#alltrainee_report{{i.id}}" class="text-danger"><i class="mdi mdi-file-pdf iconpdf"></i> </a></td>
                  
                </tr>
                {% endfor %}
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script>
    $(document).ready(function () {
      $("#search").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>



  <!--==================Training time Trainee report =====================-->

  {% for i in use %}
<div class="modal" id="alltrainee_report{{i.id}}">
    <div class="modal-dialog">
        <div class="col-12 grid-margin stretch-card bg-dark text-light modal-content">
        <!-- Modal Header -->
        <a  class="text-danger" href="" style="cursor:pointer"><i class=""></i> </a>
            <form action="{% url 'audit_trainee_reportPDF' i.id %}" method="post" enctype="multipart/form-data" autocomplete="off">
                {%csrf_token%}
                    <div class="modal-header">
                        <h4 class="modal-title">Report &nbsp;{{i.fullname}}</h4>
                        <button type="submit" style="color: white" class=" btn close btn-outline " data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card p-3" >
                                <div class="card-body">
                                  
                                    <label class="form-label mt-2" style="font-size:13px ;"> From Date</label>
                                    <input type="date" class="mt-2 mb-2 form-control" name="sdate" required >
                                    <label class="form-label mt-2"style="font-size:13px ;">To Date</label>
                                    <input type="date" class="mt-2 mb-2 form-control" name="edate" required>
                            
                                  
                                 
                                    <div class="row g-2 mt-3">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="" value="1"  name="trainee_project">
                                                <label class="form-check-label" for="">Project Details </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="" value="1"  name="tainee_task">
                                                <label class="form-check-label" for="">Task Details </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="" value="1"  name="trainee_topics">
                                                <label class="form-check-label" for="">Topics Details </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                          <div class="form-check form-switch">
                                              <input class="form-check-input" type="checkbox" id="" value="1"    name="trainee_probation">
                                              <label class="form-check-label" for="">Probation Details</label>
                                          </div>
                                      </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="" value="1"    name="trainee_leave">
                                                <label class="form-check-label" for="">Leave Details</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="" value="1"    name="trainee_feedbak">
                                                <label class="form-check-label" for="">FeedBack Details</label>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 text-center">
                                        <button type="submit" class="btn btn-outline-primary mt-4"><i class="mdi mdi-file-pdf iconpdf text-danger"></i>Download</button>
                                    </div>
                                      
                                
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endfor%}


  <!---=============== End ==========================-->


  {% for i in use %}
  <!-- Modal -->
  <div class="modal" id="myModaldaily{{i.id}}">
      <div class="modal-dialog">
          <div class="col-12 grid-margin stretch-card bg-dark text-light modal-content">
          <!-- Modal Header -->
          <a  class="text-danger" href="" style="cursor:pointer"><i class=""></i> </a>
              <form action="{% url 'Audit_empdaily_reportpdf' i.id %}" method="post" enctype="multipart/form-data" autocomplete="off">
                  {%csrf_token%}
                      <div class="modal-header">
                          <h4 class="modal-title">Daily Report &nbsp;{{i.doc_project_name}}</h4>
                          <button type="submit" style="color: white" class=" btn close btn-outline " data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="row">
                          <div class="col-12 grid-margin stretch-card">
                              <div class="card p-3" >
                                  <div class="card-body">
         
                                    <div class="card mb-4 p-2">
                                      <label class="form-label mt-2" style="font-size:13px ;"> From Date</label>
                                      <input type="date" class="mt-2 mb-2 form-control" name="emp_form" required>
                                      <label class="form-label mt-2"style="font-size:13px ;">To Date</label>
                                      <input type="date" class="mt-2 mb-2 form-control" name="emp_to" required>
                                    </div>
                                    <div class="row">
                                      <center>
                                        <div class="col-sm-5"></div>
                                        <div class="col-sm-7" class="pull-right">
                                            <button type="submit" class="btn btn-outline-primary"><i class="mdi mdi-file-pdf iconpdf text-danger"></i>Download</button>
                                        </div>
                                      </center>
                                    </div> 
                                    
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      {%endfor%}
      <!-- modal end -->
  

  {% for i in use %}
  <!-- Modal -->
  <div class="modal" id="myModal{{i.id}}">
      <div class="modal-dialog">
          <div class="col-12 grid-margin stretch-card bg-dark text-light modal-content">
          <!-- Modal Header -->
          <a  class="text-danger" href="" style="cursor:pointer"><i class=""></i> </a>
              <form action="{% url 'Audit_emp_reportpdf' i.id %}" method="post" enctype="multipart/form-data" autocomplete="off">
                  {%csrf_token%}
                      <div class="modal-header">
                          <h4 class="modal-title">Report &nbsp;{{i.doc_project_name}}</h4>
                          <button type="submit" style="color: white" class=" btn close btn-outline " data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="row">
                          <div class="col-12 grid-margin stretch-card">
                              <div class="card p-3" >
                                  <div class="card-body">
                                   

                                    
                                    <div class="card mb-4 p-2">
                                      <label class="form-label mt-2" style="font-size:13px ;"> From Date</label>
                                      <input type="date" class="mt-2 mb-2 form-control" name="emp_form" required>
                                      <label class="form-label mt-2"style="font-size:13px ;">To Date</label>
                                      <input type="date" class="mt-2 mb-2 form-control" name="emp_to" required>
                                    </div>
                                    
                                    
                                   
                                      <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="" value="1"  name="emp_proj">
                                        <label class="form-check-label" for="">Include Project Details </label>
                                      </div>
                                      <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="" value="1"  name="emp_proj_corr">
                                        <label class="form-check-label" for="">Include Project correction Details </label>
                                      </div>
                                      <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="" value="1"  name="emp_training">
                                        <label class="form-check-label" for="">Include Trainig Details </label>
                                      </div>
                                      <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="" value="1"    name="emp_salary">
                                        <label class="form-check-label" for="">Include Salary Details</label>
                                      </div>
                                      
                                      <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="" value="1"    name="emp_leatd">
                                        <label class="form-check-label" for="">Include Leave and Attendence Details</label>
                                      </div>
                                      <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="" value="1"    name="emp_issue">
                                        <label class="form-check-label" for="">Include Action Taken</label>
                                      </div>
                                    
                                    
                                       
                                        
                                        
                                          <div class="row">
                                              <center>
                                              <div class="col-sm-5"></div>
                                              <div class="col-sm-7" class="pull-right">
                                                  <button type="submit" class="btn btn-outline-primary"><i class="mdi mdi-file-pdf iconpdf text-danger"></i>Download</button>
                                              </div>
                                            </center>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      {%endfor%}
      <!-- modal end -->
  


{% endblock %}