{% extends 'audit_module/audit_index.html' %} 
{% load static %} 
{% block content %}
<div class="card p-3">
    <h5>Trainer&nbsp;-&nbsp;{{trainer.fullname}}</h5>
    <br>
    <h6>Topic</h6>
    <hr>
    <input type="text" class="form-control " onkeyup="myFunction()" id="search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                {% if topics %}   
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th> Topic Name </th>
                                <th> Start Date</th>
                                <th> End Date </th>
                                <th> Desecription </th>
                                <th> File</th>
                                <th> Review</th>
                                <th> Topic Status</th>

                            </tr>
                        </thead>
                       
                        <tbody id="myTable">
                        
                            {% for i in topics %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                
                                <td>{{i.topic}}</td>
                                <td>{{i.startdate|date:"d-m-Y"}}</td>
                                <td>{{i.enddate|date:"d-m-Y"}}</td>
                                <td>{{i.description}}</td>
                                <td>
                                    {% if i.files %}
                                    <a href="{{i.files.url}}" class="btn btn-outline-primary" Download="{{i.files.url}}"><span class="mdi mdi-download"></span>Download</a>
                                    {% else %}
                                    <a class="btn btn-outline-danger">No ile</a>
                                    {% endif %}
                                </td>
                                <td>{{i.review}}</td>
                                <td>
                                {% if i.topic_status == '1' %}
                                   <h6 class="text-success">Completed</h6>
                                {% else%}
                                <h6 class="text-danger">Not Completed</h6>
                                {% endif %}
                                </td>
                                
                               
                                {% endfor %}
 
                        </tbody>
                        
       
                    </table>
                {% else %}
                    <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                {% endif %}
                </div>

    
    <br><br>
    <h6>Task</h6>
    <hr>
    <input type="text" class="form-control " onkeyup="myFunction()" id="search" name="search" autocomplete="off"
                    placeholder="Search...">
                <br>
                <div class="table-responsive">
                    {% if tasks %}   
                    <table class="table" >
                        
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th> Task Name </th>
                                <th> Start Date </th>
                                <th> End Date </th>
                                <th> Submitted Date </th>
                                <th> Desecription </th>
                                <th> Status</th>
                                <th> Delay</th>
                                <th> File</th>
                                <th> Trainee Desecription </th>
                                <th> File</th>
                                <th> Progress</th>
                               

                            </tr>
                        </thead>
                        <tbody id="myTable">
                            
                            {% for i in tasks %}
                                
                            <tr>
                  
                                <td>{{forloop.counter}}</td>
                                <td>{{i.taskname}}</td>
                                <td>{{i.startdate|date:"d-m-Y"}}</td>
                                <td>{{i.enddate|date:"d-m-Y"}}</td>
                                <td>{{i.submitteddate|date:"d-m-Y"}}</td>
                                <td>{{i.description}}</td>
                                <td>
                                    {% if i.task_status == '1' %}
                                    <button class="btn btn-outline-success" data-toggle="modal" data-target="#testerstatus{{i.id}}">Verified</button>

                                    {% elif i.task_status == '0' %}
                                    <button class="btn btn-outline-primary">Pending</button>

                                    {% elif i.task_status == '2' %}
                                    <button class="btn btn-outline-warning" data-toggle="modal" data-target="#testerstatus{{i.id}}">Varification</button>

                                    {% elif i.task_status == '3' %}
                                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#testerstatus{{i.id}}">Correction</button>
                                    {% endif %}
                                </td>
                                
                                <td><a class="btn btn-outline-warning">{{i.delay}}</a></td>
                                
                                <td>
                                    {% if i.files %}
                                        <a href="{{i.files.url}}" class="btn btn-primary" download="{{i.files.url}}"><span class="mdi mdi-download"></span>Download</a>
                                    {% else %}
                                        <a class="btn btn-outline-danger">No file</a>
                                    {% endif %}
                                </td>
                                <td>{{i.user_description}}</td>
                                <td>
                                    {% if i.user_files %}
                                        <a  href="{{i.user_files.url}}" class="btn btn-primary" download="{{i.user_files.url}}"><span class="mdi mdi-download"></span>Download</a>
                                    {% else %}
                                        <a class="btn btn-outline-danger">No file</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="progress" style="height:20px ;">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{i.task_progress}}" aria-valuemin="0" aria-valuemax="100">{{i.task_progress}}%</div>
                                    </div>
                                </td>
                               
                                 
                                {% endfor %}
                            </tr>
                            
                            
                        </tbody>
       
                    </table>
                    {% else %}
                    <tr><h4 class="text-center">Nothing To Display....</h4></tr>
                {% endif %}
                </div>
</div>


{% for dp in tasks %}

<!-- pop up window for tester status -->
<div class="modal fade" id="testerstatus{{dp.id}}">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="modal-header" style="border-bottom: 0 none;">
        <h5 class="modal-title text-info">Trainer Task status</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
          style="background-color: #191c24;border:none; float: right;font-size: 20px;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="table-responsive mt-3 mb-3 container">
        <table class="table  table-bordered ">
          <thead style="background-color: black;">
            <tr>
              <th scope="col" style="color:#6C7293;">Date</th>
              <th scope="col" style="color:#6C7293;">Task</th>
              <th scope="col" style="color:#6C7293;">Desecription</th>
              <th scope="col" style="color:#6C7293;">Files</th>
              <th scope="col" style="color:#6C7293;">Status</th>
              
            </tr>
          </thead>
          <tbody>

            {% for i in trainer_status %}

            {% if i.traine_task_id == dp.id %}
            <tr>
              <td style="color:white;">{{i.test_date|date:"d-m-Y"}}</td>
              <td style="color:white;">{{i.traine_task.taskname}}</td>
              <td style="color:white;">{{i.trainer_correction}}</td>
              <td class="text-info">
                {% if i.trainer_files %}
                <a href="{{i.trainer_files.url}}" download style="text-decoration:none;">
                  <div class="badge badge-outline-primary">Download</div>
                </a>
                {% endif %}
              </td>
              <td  style="color:white;"></td>
            </tr>
            {% endif %}
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endfor %}


{% endblock %}